.text-field__submit {
  float: right;
  width: 44px;
  height: 44px;
  //border-left: none;
  //border-radius: 0 4px 4px 0;
  //vertical-align: middle;
  background-color: #ffffff;
  cursor: pointer;
  background: url(/blocksPath/text-field/images/arrow_forward.svg) no-repeat 10px 14px;
}
