mixin positiveRoom(icon = "insert_emoticon", title = "Комфорт", desc = "Шумопоглощающие стены")
  .positive-room
    .positive-room__content
      .positive-room__content__icon
        i.material-icons.md-purple.md-48=icon
      .positive-room__content__info
        span.positive-room__content__info__title=title
        span.positive-room__content__info__description=desc
      
