.datepicker--cells{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.datepicker--cell{border-radius:4px;box-sizing:border-box;cursor:pointer;display:-webkit-flex;display:-ms-flexbox;display:flex;position:relative;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;height:32px;z-index:1}.datepicker--cell.-focus-{background:#f0f0f0}.datepicker--cell.-current-{color:#4EB5E6}.datepicker--cell.-current-.-focus-{color:#4a4a4a}.datepicker--cell.-current-.-in-range-{color:#4EB5E6}.datepicker--cell.-in-range-{background:rgba(92,196,239,.1);color:#4a4a4a;border-radius:0}.datepicker--cell.-in-range-.-focus-{background-color:rgba(92,196,239,.2)}.datepicker--cell.-disabled-{cursor:default;color:#aeaeae}.datepicker--cell.-disabled-.-focus-{color:#aeaeae}.datepicker--cell.-disabled-.-in-range-{color:#a1a1a1}.datepicker--cell.-disabled-.-current-.-focus-{color:#aeaeae}.datepicker--cell.-range-from-{border:1px solid rgba(92,196,239,.5);background-color:rgba(92,196,239,.1);border-radius:4px 0 0 4px}.datepicker--cell.-range-to-{border:1px solid rgba(92,196,239,.5);background-color:rgba(92,196,239,.1);border-radius:0 4px 4px 0}.datepicker--cell.-selected-,.datepicker--cell.-selected-.-current-{color:#fff;background:#5cc4ef}.datepicker--cell.-range-from-.-range-to-{border-radius:4px}.datepicker--cell.-selected-{border:none}.datepicker--cell.-selected-.-focus-{background:#45bced}.datepicker--cell:empty{cursor:default}.datepicker--days-names{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:8px 0 3px}.datepicker--day-name{color:#FF9A19;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-flex:1;-ms-flex:1;flex:1;text-align:center;text-transform:uppercase;font-size:.8em}.-only-timepicker- .datepicker--content,.datepicker--body,.datepicker-inline .datepicker--pointer{display:none}.datepicker--cell-day{width:14.28571%}.datepicker--cells-months{height:170px}.datepicker--cell-month{width:33.33%;height:25%}.datepicker--cells-years,.datepicker--years{height:170px}.datepicker--cell-year{width:25%;height:33.33%}.datepickers-container{position:absolute;left:0;top:0}@media print{.datepickers-container{display:none}}.datepicker{background:#fff;border:1px solid #dbdbdb;box-shadow:0 4px 12px rgba(0,0,0,.15);border-radius:4px;box-sizing:content-box;font-family:Tahoma,sans-serif;font-size:14px;color:#4a4a4a;width:250px;position:absolute;left:-100000px;opacity:0;transition:opacity .3s ease,left 0s .3s,-webkit-transform .3s ease;transition:opacity .3s ease,transform .3s ease,left 0s .3s;transition:opacity .3s ease,transform .3s ease,left 0s .3s,-webkit-transform .3s ease;z-index:100}.datepicker.-from-top-{-webkit-transform:translateY(-8px);transform:translateY(-8px)}.datepicker.-from-right-{-webkit-transform:translateX(8px);transform:translateX(8px)}.datepicker.-from-bottom-{-webkit-transform:translateY(8px);transform:translateY(8px)}.datepicker.-from-left-{-webkit-transform:translateX(-8px);transform:translateX(-8px)}.datepicker.active{opacity:1;-webkit-transform:translate(0);transform:translate(0);transition:opacity .3s ease,left 0s 0s,-webkit-transform .3s ease;transition:opacity .3s ease,transform .3s ease,left 0s 0s;transition:opacity .3s ease,transform .3s ease,left 0s 0s,-webkit-transform .3s ease}.datepicker-inline .datepicker{border-color:#d7d7d7;box-shadow:none;position:static;left:auto;right:auto;opacity:1;-webkit-transform:none;transform:none}.datepicker--content{box-sizing:content-box;padding:4px}.datepicker--pointer{position:absolute;background:#fff;border-top:1px solid #dbdbdb;border-right:1px solid #dbdbdb;width:10px;height:10px;z-index:-1}.datepicker--nav-action:hover,.datepicker--nav-title:hover{background:#f0f0f0}.-top-center- .datepicker--pointer,.-top-left- .datepicker--pointer,.-top-right- .datepicker--pointer{top:calc(100% - 4px);-webkit-transform:rotate(135deg);transform:rotate(135deg)}.-right-bottom- .datepicker--pointer,.-right-center- .datepicker--pointer,.-right-top- .datepicker--pointer{right:calc(100% - 4px);-webkit-transform:rotate(225deg);transform:rotate(225deg)}.-bottom-center- .datepicker--pointer,.-bottom-left- .datepicker--pointer,.-bottom-right- .datepicker--pointer{bottom:calc(100% - 4px);-webkit-transform:rotate(315deg);transform:rotate(315deg)}.-left-bottom- .datepicker--pointer,.-left-center- .datepicker--pointer,.-left-top- .datepicker--pointer{left:calc(100% - 4px);-webkit-transform:rotate(45deg);transform:rotate(45deg)}.-bottom-left- .datepicker--pointer,.-top-left- .datepicker--pointer{left:10px}.-bottom-right- .datepicker--pointer,.-top-right- .datepicker--pointer{right:10px}.-bottom-center- .datepicker--pointer,.-top-center- .datepicker--pointer{left:calc(50% - 10px / 2)}.-left-top- .datepicker--pointer,.-right-top- .datepicker--pointer{top:10px}.-left-bottom- .datepicker--pointer,.-right-bottom- .datepicker--pointer{bottom:10px}.-left-center- .datepicker--pointer,.-right-center- .datepicker--pointer{top:calc(50% - 10px / 2)}.datepicker--body.active{display:block}.datepicker--nav{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;border-bottom:1px solid #efefef;min-height:32px;padding:4px}.-only-timepicker- .datepicker--nav{display:none}.datepicker--nav-action,.datepicker--nav-title{display:-webkit-flex;display:-ms-flexbox;display:flex;cursor:pointer;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}.datepicker--nav-action{width:32px;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.datepicker--nav-action.-disabled-{visibility:hidden}.datepicker--nav-action svg{width:32px;height:32px}.datepicker--nav-action path{fill:none;stroke:#9c9c9c;stroke-width:2px}.datepicker--nav-title{border-radius:4px;padding:0 8px}.datepicker--buttons,.datepicker--time{border-top:1px solid #efefef;padding:4px}.datepicker--nav-title i{font-style:normal;color:#9c9c9c;margin-left:5px}.datepicker--nav-title.-disabled-{cursor:default;background:0 0}.datepicker--buttons{display:-webkit-flex;display:-ms-flexbox;display:flex}.datepicker--button{color:#4EB5E6;cursor:pointer;border-radius:4px;-webkit-flex:1;-ms-flex:1;flex:1;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:32px}.datepicker--button:hover{color:#4a4a4a;background:#f0f0f0}.datepicker--time{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;position:relative}.datepicker--time.-am-pm- .datepicker--time-sliders{-webkit-flex:0 1 138px;-ms-flex:0 1 138px;flex:0 1 138px;max-width:138px}.-only-timepicker- .datepicker--time{border-top:none}.datepicker--time-sliders{-webkit-flex:0 1 153px;-ms-flex:0 1 153px;flex:0 1 153px;margin-right:10px;max-width:153px}.datepicker--time-label{display:none;font-size:12px}.datepicker--time-current{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-flex:1;-ms-flex:1;flex:1;font-size:14px;text-align:center;margin:0 0 0 10px}.datepicker--time-current-colon{margin:0 2px 3px;line-height:1}.datepicker--time-current-hours,.datepicker--time-current-minutes{line-height:1;font-size:19px;font-family:"Century Gothic",CenturyGothic,AppleGothic,sans-serif;position:relative;z-index:1}.datepicker--time-current-hours:after,.datepicker--time-current-minutes:after{content:'';background:#f0f0f0;border-radius:4px;position:absolute;left:-2px;top:-3px;right:-2px;bottom:-2px;z-index:-1;opacity:0}.datepicker--time-current-hours.-focus-:after,.datepicker--time-current-minutes.-focus-:after{opacity:1}.datepicker--time-current-ampm{text-transform:uppercase;-webkit-align-self:flex-end;-ms-flex-item-align:end;align-self:flex-end;color:#9c9c9c;margin-left:6px;font-size:11px;margin-bottom:1px}.datepicker--time-row{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;font-size:11px;height:17px;background:linear-gradient(to right,#dedede,#dedede) left 50%/100% 1px no-repeat}.datepicker--time-row:first-child{margin-bottom:4px}.datepicker--time-row input[type=range]{background:0 0;cursor:pointer;-webkit-flex:1;-ms-flex:1;flex:1;height:100%;padding:0;margin:0;-webkit-appearance:none}.datepicker--time-row input[type=range]::-ms-tooltip{display:none}.datepicker--time-row input[type=range]:hover::-webkit-slider-thumb{border-color:#b8b8b8}.datepicker--time-row input[type=range]:hover::-moz-range-thumb{border-color:#b8b8b8}.datepicker--time-row input[type=range]:hover::-ms-thumb{border-color:#b8b8b8}.datepicker--time-row input[type=range]:focus{outline:0}.datepicker--time-row input[type=range]:focus::-webkit-slider-thumb{background:#5cc4ef;border-color:#5cc4ef}.datepicker--time-row input[type=range]:focus::-moz-range-thumb{background:#5cc4ef;border-color:#5cc4ef}.datepicker--time-row input[type=range]:focus::-ms-thumb{background:#5cc4ef;border-color:#5cc4ef}.datepicker--time-row input[type=range]::-webkit-slider-thumb{-webkit-appearance:none;box-sizing:border-box;height:12px;width:12px;border-radius:3px;border:1px solid #dedede;background:#fff;cursor:pointer;transition:background .2s;margin-top:-6px}.datepicker--time-row input[type=range]::-moz-range-thumb{box-sizing:border-box;height:12px;width:12px;border-radius:3px;border:1px solid #dedede;background:#fff;cursor:pointer;transition:background .2s}.datepicker--time-row input[type=range]::-ms-thumb{box-sizing:border-box;height:12px;width:12px;border-radius:3px;border:1px solid #dedede;background:#fff;cursor:pointer;transition:background .2s}.datepicker--time-row input[type=range]::-webkit-slider-runnable-track{border:none;height:1px;cursor:pointer;color:transparent;background:0 0}.datepicker--time-row input[type=range]::-moz-range-track{border:none;height:1px;cursor:pointer;color:transparent;background:0 0}.datepicker--time-row input[type=range]::-ms-track{border:none;height:1px;cursor:pointer;color:transparent;background:0 0}.datepicker--time-row input[type=range]::-ms-fill-lower{background:0 0}.datepicker--time-row input[type=range]::-ms-fill-upper{background:0 0}.datepicker--time-row span{padding:0 12px}.datepicker--time-icon{color:#9c9c9c;border:1px solid;border-radius:50%;font-size:16px;position:relative;margin:0 5px -1px 0;width:1em;height:1em}.datepicker--time-icon:after,.datepicker--time-icon:before{content:'';background:currentColor;position:absolute}.datepicker--time-icon:after{height:.4em;width:1px;left:calc(50% - 1px);top:calc(50% + 1px);-webkit-transform:translateY(-100%);transform:translateY(-100%)}.datepicker--time-icon:before{width:.4em;height:1px;top:calc(50% + 1px);left:calc(50% - 1px)}.datepicker--cell-day.-other-month-,.datepicker--cell-year.-other-decade-{color:#dedede}.datepicker--cell-day.-other-month-:hover,.datepicker--cell-year.-other-decade-:hover{color:#c5c5c5}.-disabled-.-focus-.datepicker--cell-day.-other-month-,.-disabled-.-focus-.datepicker--cell-year.-other-decade-{color:#dedede}.-selected-.datepicker--cell-day.-other-month-,.-selected-.datepicker--cell-year.-other-decade-{color:#fff;background:#a2ddf6}.-selected-.-focus-.datepicker--cell-day.-other-month-,.-selected-.-focus-.datepicker--cell-year.-other-decade-{background:#8ad5f4}.-in-range-.datepicker--cell-day.-other-month-,.-in-range-.datepicker--cell-year.-other-decade-{background-color:rgba(92,196,239,.1);color:#ccc}.-in-range-.-focus-.datepicker--cell-day.-other-month-,.-in-range-.-focus-.datepicker--cell-year.-other-decade-{background-color:rgba(92,196,239,.2)}.datepicker--cell-day.-other-month-:empty,.datepicker--cell-year.-other-decade-:empty{background:0 0;border:none}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline; }

a {
  text-decoration: none; }
  a:active, a:hover {
    outline: 0; }

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: border-box; }

:focus {
  outline: 0; }

img,
audio,
video {
  max-width: 100%;
  height: auto; }

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle; }

iframe {
  border: 0; }

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none; }

input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

html {
  line-height: 1.4;
  font-size: 18px;
  color: #101010;
  height: 100%; }
  @media screen and (max-width: 1920px) {
    html {
      font-size: 16px; } }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75); }
  body.grey_body {
    background-color: #e5e5e5; }

*,
*:before,
*:after {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #1f2041; }

h1 {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px; }

h2 {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase; }

a {
  text-decoration: none; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: rgba(31, 32, 65, 0.5); }

section,
.section {
  position: relative;
  padding: 0px 0; }

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh; }

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  padding: 0px 100px;
  max-width: 1920px; }
  @media screen and (max-width: 980px) {
    .container {
      max-width: tableWidth; } }
  @media screen and (max-width: 768px) {
    .container {
      max-width: phoneWidth; } }
  @media screen and (max-width: 480px) {
    .container {
      max-width: smPhoneWidth; } }

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/montserrat-v14-latin_cyrillic-700.4f7f88756f0cc15b3056fd4f0b747e8d.eot);
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(../fonts/montserrat-v14-latin_cyrillic-regular.92adc67f675dd40e65d907d78f579330.eot?#iefix) format("embedded-opentype"), url(../fonts/montserrat-v14-latin_cyrillic-regular.4cd0fd34f59af6827ed740223b5ce110.woff2) format("woff2"), url(../fonts/montserrat-v14-latin_cyrillic-regular.b3e1c2f055c2c905173fa58205cd6ddd.woff) format("woff"), url(../fonts/montserrat-v14-latin_cyrillic-regular.1302096aa6794f7cec3928df73140775.ttf) format("truetype"), url(../fonts/montserrat-v14-latin_cyrillic-regular.cf4574fbce791ed7debe1dee7f816283.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/montserrat-v14-latin_cyrillic-700.4f7f88756f0cc15b3056fd4f0b747e8d.eot);
  /* IE9 Compat Modes */
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(../fonts/montserrat-v14-latin_cyrillic-700.4f7f88756f0cc15b3056fd4f0b747e8d.eot?#iefix) format("embedded-opentype"), url(../fonts/montserrat-v14-latin_cyrillic-700.bbc96d50ab9d8291be82b05f64bfeb11.woff2) format("woff2"), url(../fonts/montserrat-v14-latin_cyrillic-700.dda8fc164a6a04a69538d3287a3d05e7.woff) format("woff"), url(../fonts/montserrat-v14-latin_cyrillic-700.534aa45a1095f2ae90182548a50dd142.ttf) format("truetype"), url(../fonts/montserrat-v14-latin_cyrillic-700.95be07dac3b156d621c2df79bee25d06.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* Material Icons */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.e79bfd88537def476913f3ed52f4f4b3.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../fonts/MaterialIcons-Regular.570eb83859dc23dd0eec423a49e147fe.woff2) format("woff2"), url(../fonts/MaterialIcons-Regular.012cf6a10129e2275d79d6adac7f3b02.woff) format("woff"), url(../fonts/MaterialIcons-Regular.a37b0c01c0baf1888ca812cc0508f6e2.ttf) format("truetype"); }

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga"; }

.material-icons.md-10 {
  font-size: 10px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-48 {
  font-size: 48px; }

.material-icons.md-purple {
  color: #bc9cff; }

.search__panel {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 380px;
  background: #ffffff;
  padding: 40px 30px 30px; }

.search__panel__title {
  margin-bottom: 20px;
  padding-right: 50px; }

.search__panel__datepicker {
  margin-bottom: 20px; }

.search__panel__guests {
  margin-bottom: 30px; }

.text-field__input {
  font-family: Montserrat;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  padding: 13px 15px;
  width: 100%;
  max-width: 320px;
  height: 44px; }
  .text-field__input:hover {
    outline: none;
    border: 1px solid gba(31, 32, 65, 0.5); }
  .text-field__input:focus {
    outline: none;
    border: 1px solid gba(31, 32, 65, 0.5); }

.text-field__submit {
  float: right;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  cursor: pointer;
  background: url(/blocksPath/text-field/images/arrow_forward.svg) no-repeat 10px 14px; }

.text-field__title {
  padding-bottom: 5px; }

.text-field__subscription {
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  display: flex;
  float: left;
  width: 100%;
  max-width: 267px; }
  .text-field__subscription:hover {
    border: 1px solid rgba(31, 32, 65, 0.5); }

.text-field__date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.text-field__date__item {
  width: 100%;
  max-width: 150px; }

.text-field_date {
  width: inherit;
  background: url(/assets/img/text-field/expand_more.svg) no-repeat 121px 19px; }

.text-field_filter-date {
  width: 100%;
  max-width: 266px;
  background: url(/assets/img/text-field/expand_more.svg) no-repeat 94% 50%; }

.text-field_subscription {
  border: none;
  width: 100%;
  max-width: 240px;
  padding-right: 0px; }
  .text-field_subscription:hover {
    border: none; }
  .text-field_subscription:hover .textField__subscription {
    border: 1px solid red; }
  .text-field_subscription:focus {
    border: none; }

.dropdown {
  position: relative;
  font-family: "Montserrat", sans-serif;
  max-width: 320px;
  min-width: 220px; }

.dropdown__title {
  padding-bottom: 5px; }

.dropdown__label {
  position: relative;
  display: flex;
  max-width: 320px;
  min-width: 220px;
  height: 44px;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  padding: 10px 15px;
  font-weight: normal;
  cursor: pointer; }

.dropdown__label__arrow {
  position: absolute;
  right: 0;
  margin-right: 10px;
  width: 24px;
  height: 24px; }

.dropdown__label__arrow_reflected {
  transform: rotate(180deg); }

.dropdown__menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  z-index: 10;
  width: 100%;
  max-width: 320px;
  min-width: 220px;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-top: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px; }

.dropdown__item, .dropdown__item_btn {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  padding: 7px 7px 0px 15px; }
  .dropdown__item:last-child, .dropdown__item_btn:last-child {
    margin-bottom: 7px; }

.dropdown__item__edit {
  display: flex;
  float: right;
  margin-left: auto;
  padding: 0px 0px 0px 15px; }

.dropdown__item__change {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 100%;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: rgba(31, 32, 65, 0.5); }
  .dropdown__item__change:hover {
    background: rgba(31, 32, 65, 0.05); }
  .dropdown__item__change:active {
    background: rgba(31, 32, 65, 0.25); }

.dropdown__item__change_disabled {
  border: 1px solid rgba(31, 32, 65, 0.05);
  color: rgba(31, 32, 65, 0.05); }

.dropdown__item__value {
  width: 32px;
  margin-top: 8px;
  text-align: center; }

.dropdown__item_btn {
  margin-bottom: 13px;
  margin-top: 13px; }

.dropdown__btn_apply {
  float: right;
  margin-left: auto;
  color: #bc9cff;
  cursor: pointer; }

.dropdown__btn_clear {
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer; }

.btn {
  display: inline-block;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #bc9cff;
  padding: 15px 20px;
  position: relative;
  height: 44px;
  width: fit-content; }

.btn_label {
  height: fit-content;
  padding: 0;
  background: none; }
  .btn_label:active {
    color: rgba(31, 32, 65, 0.5); }

.btn_border {
  background-image: linear-gradient(180deg, #bc9cff, #8ba4f9);
  background-origin: border-box;
  border: 2px solid transparent;
  box-shadow: inset 0 3.125rem #fff;
  border-radius: 22px; }
  .btn_border:active {
    background-image: linear-gradient(180deg, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5)); }
  .btn_border:hover {
    color: #bc9cff; }

.btn_fill {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  color: #ffffff; }
  .btn_fill:active {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5));
    color: #ffffff; }
  .btn_fill:hover {
    color: #ffffff; }

.bnt_arrow {
  width: 100%;
  max-width: 320px;
  text-align: center;
  line-height: 15px; }
  .bnt_arrow:after {
    content: url(/assets/img/button/arrow_forward.svg);
    float: right; }

.btn_small {
  padding: 10px 20px;
  height: 34px; }

.registration-panel__content__title {
  margin-bottom: 20px; }

.registration-panel__content__first-name {
  margin-bottom: 10px; }

.registration-panel__content__last-name {
  margin-bottom: 10px; }

.registration-panel__content__gender {
  margin-bottom: 19.5px; }

.registration-panel__content__date-birth {
  margin-bottom: 20px; }

.registration-panel__content__email {
  margin-bottom: 10px; }

.registration-panel__content__password {
  margin-bottom: 10px; }

.registration-panel__content__toggle {
  margin-bottom: 20px; }

.registration-panel__content__btn-pay {
  margin-bottom: 30px; }

.registration-panel__content__login {
  display: flex;
  justify-content: space-between; }

.registration-panel__content__login__label {
  line-height: 44px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000; }

.text-field__input {
  font-family: Montserrat;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  padding: 13px 15px;
  width: 100%;
  max-width: 320px;
  height: 44px; }
  .text-field__input:hover {
    outline: none;
    border: 1px solid gba(31, 32, 65, 0.5); }
  .text-field__input:focus {
    outline: none;
    border: 1px solid gba(31, 32, 65, 0.5); }

.text-field__submit {
  float: right;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  cursor: pointer;
  background: url(/blocksPath/text-field/images/arrow_forward.svg) no-repeat 10px 14px; }

.text-field__title {
  padding-bottom: 5px; }

.text-field__subscription {
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  display: flex;
  float: left;
  width: 100%;
  max-width: 267px; }
  .text-field__subscription:hover {
    border: 1px solid rgba(31, 32, 65, 0.5); }

.text-field__date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.text-field__date__item {
  width: 100%;
  max-width: 150px; }

.text-field_date {
  width: inherit;
  background: url(/assets/img/text-field/expand_more.svg) no-repeat 121px 19px; }

.text-field_filter-date {
  width: 100%;
  max-width: 266px;
  background: url(/assets/img/text-field/expand_more.svg) no-repeat 94% 50%; }

.text-field_subscription {
  border: none;
  width: 100%;
  max-width: 240px;
  padding-right: 0px; }
  .text-field_subscription:hover {
    border: none; }
  .text-field_subscription:hover .textField__subscription {
    border: 1px solid red; }
  .text-field_subscription:focus {
    border: none; }

.text-field__input {
  font-family: Montserrat;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  padding: 13px 15px;
  width: 100%;
  max-width: 320px;
  height: 44px; }
  .text-field__input:hover {
    outline: none;
    border: 1px solid gba(31, 32, 65, 0.5); }
  .text-field__input:focus {
    outline: none;
    border: 1px solid gba(31, 32, 65, 0.5); }

.text-field__submit {
  float: right;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  cursor: pointer;
  background: url(/blocksPath/text-field/images/arrow_forward.svg) no-repeat 10px 14px; }

.text-field__title {
  padding-bottom: 5px; }

.text-field__subscription {
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  display: flex;
  float: left;
  width: 100%;
  max-width: 267px; }
  .text-field__subscription:hover {
    border: 1px solid rgba(31, 32, 65, 0.5); }

.text-field__date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.text-field__date__item {
  width: 100%;
  max-width: 150px; }

.text-field_date {
  width: inherit;
  background: url(/assets/img/text-field/expand_more.svg) no-repeat 121px 19px; }

.text-field_filter-date {
  width: 100%;
  max-width: 266px;
  background: url(/assets/img/text-field/expand_more.svg) no-repeat 94% 50%; }

.text-field_subscription {
  border: none;
  width: 100%;
  max-width: 240px;
  padding-right: 0px; }
  .text-field_subscription:hover {
    border: none; }
  .text-field_subscription:hover .textField__subscription {
    border: 1px solid red; }
  .text-field_subscription:focus {
    border: none; }

/* Customize the label (the radio_item) */
.radio_item {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  padding-right: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgba(31, 32, 65, 0.5);
  font-size: 14px; }

/* Hide the browser's default radio button */
.radio_item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%; }

/* On mouse-over, add a grey background color */
.radio_item:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the radio button is checked, add a blue background */
.radio_item input:checked ~ .checkmark {
  background-color: #ffffff;
  border: 1px solid #bc9cff; }

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the indicator (dot/circle) when checked */
.radio_item input:checked ~ .checkmark:after {
  display: block; }

/* Style the indicator (dot/circle) */
.radio_item .checkmark:after {
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%); }

/* The slider */
.toggle__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.toggle__slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 3px;
  background: linear-gradient(180deg, rgba(31, 32, 65, 0.25) 0%, rgba(31, 32, 65, 0.25) 100%);
  -webkit-transition: 0.4s;
  transition: 0.4s; }

input:checked + .toggle__slider {
  background: white;
  border: 1px solid #bc9cff; }

input:checked + .toggle__slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%); }

/* Rounded sliders */
.toggle__slider.toggle__slider_round {
  border-radius: 10px; }

.toggle__slider.toggle__slider_round:before {
  border-radius: 50%; }

.toggle__switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  vertical-align: middle; }

.toggle__switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.toggle__title {
  padding-left: 10px;
  vertical-align: middle; }

.btn {
  display: inline-block;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #bc9cff;
  padding: 15px 20px;
  position: relative;
  height: 44px;
  width: fit-content; }

.btn_label {
  height: fit-content;
  padding: 0;
  background: none; }
  .btn_label:active {
    color: rgba(31, 32, 65, 0.5); }

.btn_border {
  background-image: linear-gradient(180deg, #bc9cff, #8ba4f9);
  background-origin: border-box;
  border: 2px solid transparent;
  box-shadow: inset 0 3.125rem #fff;
  border-radius: 22px; }
  .btn_border:active {
    background-image: linear-gradient(180deg, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5)); }
  .btn_border:hover {
    color: #bc9cff; }

.btn_fill {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  color: #ffffff; }
  .btn_fill:active {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5));
    color: #ffffff; }
  .btn_fill:hover {
    color: #ffffff; }

.bnt_arrow {
  width: 100%;
  max-width: 320px;
  text-align: center;
  line-height: 15px; }
  .bnt_arrow:after {
    content: url(/assets/img/button/arrow_forward.svg);
    float: right; }

.btn_small {
  padding: 10px 20px;
  height: 34px; }

.book-room-panel__content__room-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }

.book-room-panel__content__room-info__number {
  display: inline-flex; }

.book-room-panel__content__room-info__number__num {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 17px;
  /* Dark 100% */
  color: #1f2041;
  margin-right: 5px; }

.book-room-panel__content__room-info__number__luxe {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-transform: uppercase;
  /* Primary Color */
  color: #bc9cff;
  padding-top: 2px; }

.book-room-panel__content__room-info__cost {
  font-family: Montserrat;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5); }

.book-room-panel__content__date {
  margin-bottom: 20px; }

.book-room-panel__content__guests {
  margin-bottom: 20px; }

.book-room-panel__content__pay-info__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; }
  .book-room-panel__content__pay-info__item:last-child {
    margin-bottom: 30px; }

.book-room-panel__content__total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px; }
  .book-room-panel__content__total h2 {
    white-space: nowrap; }
    .book-room-panel__content__total h2:first-child {
      margin-right: 5px; }
    .book-room-panel__content__total h2:last-child {
      margin-left: 5px; }

.book-room-panel__content__total__tab {
  height: 18px;
  border-bottom: 1px dashed rgba(31, 32, 65, 0.25);
  width: 100%;
  max-width: 250px; }

.text-field__input {
  font-family: Montserrat;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  padding: 13px 15px;
  width: 100%;
  max-width: 320px;
  height: 44px; }
  .text-field__input:hover {
    outline: none;
    border: 1px solid gba(31, 32, 65, 0.5); }
  .text-field__input:focus {
    outline: none;
    border: 1px solid gba(31, 32, 65, 0.5); }

.text-field__submit {
  float: right;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  cursor: pointer;
  background: url(/blocksPath/text-field/images/arrow_forward.svg) no-repeat 10px 14px; }

.text-field__title {
  padding-bottom: 5px; }

.text-field__subscription {
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  display: flex;
  float: left;
  width: 100%;
  max-width: 267px; }
  .text-field__subscription:hover {
    border: 1px solid rgba(31, 32, 65, 0.5); }

.text-field__date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.text-field__date__item {
  width: 100%;
  max-width: 150px; }

.text-field_date {
  width: inherit;
  background: url(/assets/img/text-field/expand_more.svg) no-repeat 121px 19px; }

.text-field_filter-date {
  width: 100%;
  max-width: 266px;
  background: url(/assets/img/text-field/expand_more.svg) no-repeat 94% 50%; }

.text-field_subscription {
  border: none;
  width: 100%;
  max-width: 240px;
  padding-right: 0px; }
  .text-field_subscription:hover {
    border: none; }
  .text-field_subscription:hover .textField__subscription {
    border: 1px solid red; }
  .text-field_subscription:focus {
    border: none; }

.dropdown {
  position: relative;
  font-family: "Montserrat", sans-serif;
  max-width: 320px;
  min-width: 220px; }

.dropdown__title {
  padding-bottom: 5px; }

.dropdown__label {
  position: relative;
  display: flex;
  max-width: 320px;
  min-width: 220px;
  height: 44px;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  padding: 10px 15px;
  font-weight: normal;
  cursor: pointer; }

.dropdown__label__arrow {
  position: absolute;
  right: 0;
  margin-right: 10px;
  width: 24px;
  height: 24px; }

.dropdown__label__arrow_reflected {
  transform: rotate(180deg); }

.dropdown__menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  z-index: 10;
  width: 100%;
  max-width: 320px;
  min-width: 220px;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-top: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px; }

.dropdown__item, .dropdown__item_btn {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  padding: 7px 7px 0px 15px; }
  .dropdown__item:last-child, .dropdown__item_btn:last-child {
    margin-bottom: 7px; }

.dropdown__item__edit {
  display: flex;
  float: right;
  margin-left: auto;
  padding: 0px 0px 0px 15px; }

.dropdown__item__change {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 100%;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: rgba(31, 32, 65, 0.5); }
  .dropdown__item__change:hover {
    background: rgba(31, 32, 65, 0.05); }
  .dropdown__item__change:active {
    background: rgba(31, 32, 65, 0.25); }

.dropdown__item__change_disabled {
  border: 1px solid rgba(31, 32, 65, 0.05);
  color: rgba(31, 32, 65, 0.05); }

.dropdown__item__value {
  width: 32px;
  margin-top: 8px;
  text-align: center; }

.dropdown__item_btn {
  margin-bottom: 13px;
  margin-top: 13px; }

.dropdown__btn_apply {
  float: right;
  margin-left: auto;
  color: #bc9cff;
  cursor: pointer; }

.dropdown__btn_clear {
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer; }

.btn {
  display: inline-block;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #bc9cff;
  padding: 15px 20px;
  position: relative;
  height: 44px;
  width: fit-content; }

.btn_label {
  height: fit-content;
  padding: 0;
  background: none; }
  .btn_label:active {
    color: rgba(31, 32, 65, 0.5); }

.btn_border {
  background-image: linear-gradient(180deg, #bc9cff, #8ba4f9);
  background-origin: border-box;
  border: 2px solid transparent;
  box-shadow: inset 0 3.125rem #fff;
  border-radius: 22px; }
  .btn_border:active {
    background-image: linear-gradient(180deg, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5)); }
  .btn_border:hover {
    color: #bc9cff; }

.btn_fill {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  color: #ffffff; }
  .btn_fill:active {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5));
    color: #ffffff; }
  .btn_fill:hover {
    color: #ffffff; }

.bnt_arrow {
  width: 100%;
  max-width: 320px;
  text-align: center;
  line-height: 15px; }
  .bnt_arrow:after {
    content: url(/assets/img/button/arrow_forward.svg);
    float: right; }

.btn_small {
  padding: 10px 20px;
  height: 34px; }

.authorization-panel__content__tittle {
  margin-bottom: 20px; }

.authorization-panel__content__email {
  margin-bottom: 5px; }

.authorization-panel__content__password {
  margin-bottom: 15px; }

.authorization-panel__content__btn-auth {
  margin-bottom: 30px; }

.authorization-panel__content__register {
  display: flex;
  justify-content: space-between; }

.authorization-panel__content__register__label {
  line-height: 44px; }

.text-field__input {
  font-family: Montserrat;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  padding: 13px 15px;
  width: 100%;
  max-width: 320px;
  height: 44px; }
  .text-field__input:hover {
    outline: none;
    border: 1px solid gba(31, 32, 65, 0.5); }
  .text-field__input:focus {
    outline: none;
    border: 1px solid gba(31, 32, 65, 0.5); }

.text-field__submit {
  float: right;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  cursor: pointer;
  background: url(/blocksPath/text-field/images/arrow_forward.svg) no-repeat 10px 14px; }

.text-field__title {
  padding-bottom: 5px; }

.text-field__subscription {
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  display: flex;
  float: left;
  width: 100%;
  max-width: 267px; }
  .text-field__subscription:hover {
    border: 1px solid rgba(31, 32, 65, 0.5); }

.text-field__date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.text-field__date__item {
  width: 100%;
  max-width: 150px; }

.text-field_date {
  width: inherit;
  background: url(/assets/img/text-field/expand_more.svg) no-repeat 121px 19px; }

.text-field_filter-date {
  width: 100%;
  max-width: 266px;
  background: url(/assets/img/text-field/expand_more.svg) no-repeat 94% 50%; }

.text-field_subscription {
  border: none;
  width: 100%;
  max-width: 240px;
  padding-right: 0px; }
  .text-field_subscription:hover {
    border: none; }
  .text-field_subscription:hover .textField__subscription {
    border: 1px solid red; }
  .text-field_subscription:focus {
    border: none; }

.btn {
  display: inline-block;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #bc9cff;
  padding: 15px 20px;
  position: relative;
  height: 44px;
  width: fit-content; }

.btn_label {
  height: fit-content;
  padding: 0;
  background: none; }
  .btn_label:active {
    color: rgba(31, 32, 65, 0.5); }

.btn_border {
  background-image: linear-gradient(180deg, #bc9cff, #8ba4f9);
  background-origin: border-box;
  border: 2px solid transparent;
  box-shadow: inset 0 3.125rem #fff;
  border-radius: 22px; }
  .btn_border:active {
    background-image: linear-gradient(180deg, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5)); }
  .btn_border:hover {
    color: #bc9cff; }

.btn_fill {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  color: #ffffff; }
  .btn_fill:active {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5));
    color: #ffffff; }
  .btn_fill:hover {
    color: #ffffff; }

.bnt_arrow {
  width: 100%;
  max-width: 320px;
  text-align: center;
  line-height: 15px; }
  .bnt_arrow:after {
    content: url(/assets/img/button/arrow_forward.svg);
    float: right; }

.btn_small {
  padding: 10px 20px;
  height: 34px; }

.img-slider {
  width: 270px;
  height: 150px;
  position: relative; }

.img-slider:hover .img-slider__toggle_prev, .img-slider:hover .img-slider__toggle_next,
.img-slider:hover .img-slider__toggle_next {
  display: block; }

.img-slider__item {
  position: absolute;
  width: 270px;
  height: 150px;
  display: none; }
  .img-slider__item img {
    width: 270px;
    height: 150px; }

.img-slider__toggle_prev, .img-slider__toggle_next {
  display: none;
  position: absolute;
  cursor: pointer;
  color: white;
  height: 150px;
  width: 42px;
  padding-top: 60px;
  text-align: center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%); }

.img-slider__toggle_prev:hover, .img-slider__toggle_next:hover, img-slider__toggle_next:hover {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%); }

.img-slider__toggle_next {
  right: 0;
  transform: matrix(-1, 0, 0, 1, 0, 0); }

.img-slider__buttons {
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
  margin-right: 15px;
  margin-bottom: 8px; }

.img-slider__buttons__dot {
  display: inline-block;
  cursor: pointer;
  margin-right: 4px;
  width: 8px;
  height: 8px;
  border: 1px #ffffff solid;
  border-radius: 50%; }
  .img-slider__buttons__dot:last-child {
    margin-right: 0px; }

.room-item {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px; }

.room-item__info-panel {
  display: flex;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 4px; }

.room-item__info-panel__cost {
  right: 0;
  font-size: 14px;
  position: absolute;
  color: rgba(31, 32, 65, 0.5); }

.room-item__info-panel__number {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  margin-right: 5px;
  color: #1f2041; }

.room-item__info-panel__state {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #bc9cff; }

.room-item__reviews-panel {
  display: flex;
  position: relative;
  padding-top: 4px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(31, 32, 65, 0.1); }

.room-item__reviews-panel__reviews {
  position: absolute;
  right: 0;
  color: rgba(31, 32, 65, 0.5); }

.img-slider {
  width: 270px;
  height: 150px;
  position: relative; }

.img-slider:hover .img-slider__toggle_prev, .img-slider:hover .img-slider__toggle_next,
.img-slider:hover .img-slider__toggle_next {
  display: block; }

.img-slider__item {
  position: absolute;
  width: 270px;
  height: 150px;
  display: none; }
  .img-slider__item img {
    width: 270px;
    height: 150px; }

.img-slider__toggle_prev, .img-slider__toggle_next {
  display: none;
  position: absolute;
  cursor: pointer;
  color: white;
  height: 150px;
  width: 42px;
  padding-top: 60px;
  text-align: center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%); }

.img-slider__toggle_prev:hover, .img-slider__toggle_next:hover, img-slider__toggle_next:hover {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%); }

.img-slider__toggle_next {
  right: 0;
  transform: matrix(-1, 0, 0, 1, 0, 0); }

.img-slider__buttons {
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
  margin-right: 15px;
  margin-bottom: 8px; }

.img-slider__buttons__dot {
  display: inline-block;
  cursor: pointer;
  margin-right: 4px;
  width: 8px;
  height: 8px;
  border: 1px #ffffff solid;
  border-radius: 50%; }
  .img-slider__buttons__dot:last-child {
    margin-right: 0px; }

.rate-button {
  display: flex;
  width: 120px; }

.rate-button__item {
  padding-right: 4px; }

.my-custom-datepicker {
  padding-top: 19px; }

.datepicker {
  width: 320px; }

.datepicker--nav {
  border: none;
  padding: 19px;
  padding-top: 0px;
  padding-bottom: 21px; }

.datepicker--nav-title, .datepicker--nav-title i {
  color: black;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px; }

.datepicker--content {
  padding-top: 0;
  padding: 0px 20px; }

.datepicker--days-names {
  margin: 8px 0 0; }

.datepicker--day-name {
  color: #bc9cff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: none;
  height: 40px;
  width: 40px; }

.datepicker--cell.datepicker--cell-day {
  font-family: Montserrat;
  color: rgba(31, 32, 65, 0.5);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  height: 40px;
  width: 40px; }

.datepicker--cell.datepicker--cell-day.-other-month- {
  color: rgba(31, 32, 65, 0.25); }

.datepicker--cell.-current- {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border-radius: 22px;
  color: #ffffff; }

.datepicker--cell.datepicker--cell-day.-range-from-.-selected-, .datepicker--cell.datepicker--cell-day.-range-to-.-selected- {
  color: #ffffff;
  font-weight: bold;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px; }
  .datepicker--cell.datepicker--cell-day.-range-from-.-selected-::before, .datepicker--cell.datepicker--cell-day.-range-to-.-selected-::before {
    content: "";
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    z-index: -1; }

.datepicker--cell.datepicker--cell-day.-range-to-.-selected-::before {
  content: "";
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  z-index: -1; }

.datepicker--cell.datepicker--cell-day.-in-range- {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%); }

.wrapper-datepicker {
  display: flex; }

.datepicker--content--buttons {
  padding: 20px 0 15px; }
  .datepicker--content--buttons button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    cursor: pointer;
    background: none;
    padding: 0px; }
    .datepicker--content--buttons button.datepicker__clear {
      color: rgba(31, 32, 65, 0.5); }
    .datepicker--content--buttons button.datepicker__apply {
      color: #bc9cff;
      float: right; }

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.base-cards, .registration-panel, .book-room-panel, .authorization-panel {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 380px;
  background: #ffffff;
  padding: 40px 30px 30px; }

.cards__column__item {
  padding-bottom: 40px; }

