html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline; }

a {
  text-decoration: none; }
  a:active, a:hover {
    outline: 0; }

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: border-box; }

:focus {
  outline: 0; }

img,
audio,
video {
  max-width: 100%;
  height: auto; }

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle; }

iframe {
  border: 0; }

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none; }

input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

html {
  line-height: 1.4;
  font-size: 18px;
  color: #101010;
  height: 100%; }
  @media screen and (max-width: 1440px) {
    html {
      font-size: 16px; } }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75); }
  body.grey_body {
    background-color: #e5e5e5; }

*,
*:before,
*:after {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #1f2041; }

h1 {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px; }

h2 {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase; }

a {
  text-decoration: none; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: rgba(31, 32, 65, 0.5); }

section,
.section {
  position: relative;
  padding: 0px 0; }

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh; }

.container {
  border: 1px solid red;
  max-width: 1161px;
  width: 100%;
  min-width: 320px;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  height: inherit; }
  @media screen and (max-width: 980px) {
    .container {
      max-width: tableWidth; } }
  @media screen and (max-width: 768px) {
    .container {
      max-width: phoneWidth; } }
  @media screen and (max-width: 480px) {
    .container {
      max-width: smPhoneWidth; } }

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/montserrat-v14-latin_cyrillic-700.4f7f88756f0cc15b3056fd4f0b747e8d.eot);
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(../fonts/montserrat-v14-latin_cyrillic-regular.92adc67f675dd40e65d907d78f579330.eot?#iefix) format("embedded-opentype"), url(../fonts/montserrat-v14-latin_cyrillic-regular.4cd0fd34f59af6827ed740223b5ce110.woff2) format("woff2"), url(../fonts/montserrat-v14-latin_cyrillic-regular.b3e1c2f055c2c905173fa58205cd6ddd.woff) format("woff"), url(../fonts/montserrat-v14-latin_cyrillic-regular.1302096aa6794f7cec3928df73140775.ttf) format("truetype"), url(../fonts/montserrat-v14-latin_cyrillic-regular.cf4574fbce791ed7debe1dee7f816283.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/montserrat-v14-latin_cyrillic-700.4f7f88756f0cc15b3056fd4f0b747e8d.eot);
  /* IE9 Compat Modes */
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(../fonts/montserrat-v14-latin_cyrillic-700.4f7f88756f0cc15b3056fd4f0b747e8d.eot?#iefix) format("embedded-opentype"), url(../fonts/montserrat-v14-latin_cyrillic-700.bbc96d50ab9d8291be82b05f64bfeb11.woff2) format("woff2"), url(../fonts/montserrat-v14-latin_cyrillic-700.dda8fc164a6a04a69538d3287a3d05e7.woff) format("woff"), url(../fonts/montserrat-v14-latin_cyrillic-700.534aa45a1095f2ae90182548a50dd142.ttf) format("truetype"), url(../fonts/montserrat-v14-latin_cyrillic-700.95be07dac3b156d621c2df79bee25d06.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* Material Icons */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.e79bfd88537def476913f3ed52f4f4b3.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../fonts/MaterialIcons-Regular.570eb83859dc23dd0eec423a49e147fe.woff2) format("woff2"), url(../fonts/MaterialIcons-Regular.012cf6a10129e2275d79d6adac7f3b02.woff) format("woff"), url(../fonts/MaterialIcons-Regular.a37b0c01c0baf1888ca812cc0508f6e2.ttf) format("truetype"); }

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga"; }

.material-icons.md-10 {
  font-size: 10px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-48 {
  font-size: 48px; }

.material-icons.md-purple {
  color: #bc9cff; }

.material-icons.md-dark-shade-50 {
  color: rgba(31, 32, 65, 0.5); }

.material-icons.md-white {
  color: white; }

.uikit-logo img {
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 65px; }

.colors__wrapper__item {
  padding-bottom: 20px; }
  .colors__wrapper__item:last-child {
    padding-bottom: 0px; }

.colors__wrapper__item__color {
  width: 70px;
  height: 70px;
  display: inline-block;
  margin-right: 40px;
  border-radius: 6px; }

.colors__wrapper__item__color_dark100 {
  background: #1f2041; }

.colors__wrapper__item__color_dark75 {
  background: rgba(31, 32, 65, 0.75); }

.colors__wrapper__item__color_dark50 {
  background: rgba(31, 32, 65, 0.5); }

.colors__wrapper__item__color_dark25 {
  background: rgba(31, 32, 65, 0.25); }

.colors__wrapper__item__color_dark5 {
  background: rgba(31, 32, 65, 0.05); }

.colors__wrapper__item__color_green {
  background: #6fcf97; }

.colors__wrapper__item__color_purple {
  background: #bc9cff; }

.colors__wrapper__item__color-info {
  display: inline-block;
  width: 160px;
  margin-top: 12px;
  padding-bottom: 0px;
  vertical-align: top; }

.headers__wrapper__item__body {
  display: inline-block;
  padding-bottom: 50px; }

.headers__wrapper__item__header {
  display: inline-block;
  margin-right: 30px;
  width: 50px;
  text-align: right; }
  .headers__wrapper__item__header span {
    color: rgba(31, 32, 65, 0.25);
    font-size: 19px;
    line-height: 23px; }

.colors-type__wrapper .colors {
  display: inline-block; }

.colors-type__wrapper .headers {
  display: inline-block;
  float: right; }

.uikit-logo {
  padding: 30px;
  height: 145px; }

