html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline; }

a {
  text-decoration: none; }
  a:active, a:hover {
    outline: 0; }

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: border-box; }

:focus {
  outline: 0; }

img,
audio,
video {
  max-width: 100%;
  height: auto; }

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle; }

iframe {
  border: 0; }

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none; }

input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

html {
  line-height: 1.4;
  font-size: 18px;
  color: #101010;
  height: 100%; }
  @media screen and (max-width: 1440px) {
    html {
      font-size: 16px; } }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75); }
  body.grey_body {
    background-color: #e5e5e5; }

*,
*:before,
*:after {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #1f2041; }

h1 {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px; }

h2 {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase; }

a {
  text-decoration: none; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: rgba(31, 32, 65, 0.5); }

section,
.section {
  position: relative;
  padding: 0px 0; }

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh; }

.container {
  max-width: 1160px;
  width: 100%;
  min-width: 320px;
  position: relative;
  margin: 0 auto;
  height: inherit; }
  @media screen and (max-width: 980px) {
    .container {
      max-width: tableWidth; } }
  @media screen and (max-width: 768px) {
    .container {
      max-width: phoneWidth; } }
  @media screen and (max-width: 480px) {
    .container {
      max-width: smPhoneWidth; } }

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/montserrat-v14-latin_cyrillic-700.4f7f88756f0cc15b3056fd4f0b747e8d.eot);
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(../fonts/montserrat-v14-latin_cyrillic-regular.92adc67f675dd40e65d907d78f579330.eot?#iefix) format("embedded-opentype"), url(../fonts/montserrat-v14-latin_cyrillic-regular.4cd0fd34f59af6827ed740223b5ce110.woff2) format("woff2"), url(../fonts/montserrat-v14-latin_cyrillic-regular.b3e1c2f055c2c905173fa58205cd6ddd.woff) format("woff"), url(../fonts/montserrat-v14-latin_cyrillic-regular.1302096aa6794f7cec3928df73140775.ttf) format("truetype"), url(../fonts/montserrat-v14-latin_cyrillic-regular.cf4574fbce791ed7debe1dee7f816283.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/montserrat-v14-latin_cyrillic-700.4f7f88756f0cc15b3056fd4f0b747e8d.eot);
  /* IE9 Compat Modes */
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(../fonts/montserrat-v14-latin_cyrillic-700.4f7f88756f0cc15b3056fd4f0b747e8d.eot?#iefix) format("embedded-opentype"), url(../fonts/montserrat-v14-latin_cyrillic-700.bbc96d50ab9d8291be82b05f64bfeb11.woff2) format("woff2"), url(../fonts/montserrat-v14-latin_cyrillic-700.dda8fc164a6a04a69538d3287a3d05e7.woff) format("woff"), url(../fonts/montserrat-v14-latin_cyrillic-700.534aa45a1095f2ae90182548a50dd142.ttf) format("truetype"), url(../fonts/montserrat-v14-latin_cyrillic-700.95be07dac3b156d621c2df79bee25d06.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* Material Icons */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.e79bfd88537def476913f3ed52f4f4b3.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../fonts/MaterialIcons-Regular.570eb83859dc23dd0eec423a49e147fe.woff2) format("woff2"), url(../fonts/MaterialIcons-Regular.012cf6a10129e2275d79d6adac7f3b02.woff) format("woff"), url(../fonts/MaterialIcons-Regular.a37b0c01c0baf1888ca812cc0508f6e2.ttf) format("truetype"); }

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga"; }

.material-icons.md-10 {
  font-size: 10px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-48 {
  font-size: 48px; }

.material-icons.md-purple {
  color: #bc9cff; }

.material-icons.md-dark-shade-50 {
  color: rgba(31, 32, 65, 0.5); }

.material-icons.md-white {
  color: white; }

.uikit-logo img {
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 65px; }

.base-cards, .book-room-panel {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 380px;
  background: #ffffff;
  padding: 40px 30px 30px; }

.header {
  position: relative;
  z-index: 99;
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05); }
  .header input {
    display: none; }

.header__content {
  height: inherit; }

.header__content__menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  align-items: center;
  height: inherit; }

.header__content__menu__logo {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 235px; }

.header__content__menu__item {
  display: inline-block;
  vertical-align: middle;
  list-style: none; }

.header__content__menu__item__link {
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5);
  vertical-align: top; }

.header__content__menu__item__link_bold {
  text-decoration: none;
  color: rgba(31, 32, 65, 0.75);
  font-weight: bold; }

.header__content__menu__item__link__arrow {
  vertical-align: bottom; }

.header__toggle {
  display: none; }

@media screen and (max-width: 980px) {
  .header__content__menu__logo {
    padding-right: 0px; } }

@media screen and (max-width: 768px) {
  .header__toggle {
    clear: both;
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    width: 100%;
    background: white;
    color: black; }
  .header__content__menu_touch {
    background: white;
    z-index: 22; }
  #checkbox-menu:checked + .header__content .header__content__menu_touch li {
    opacity: 1;
    visibility: visible;
    transition: all 0.7s linear; }
  #checkbox-menu:checked + .header__content .header__content__menu_touch {
    height: 350px; }
  .header__content__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 0px;
    transition: height 0.3s linear; }
  .header__content__menu li {
    display: flex;
    align-self: center;
    width: 95%;
    opacity: 0;
    visibility: hidden; } }

.btn {
  display: inline-block;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #bc9cff;
  padding: 15px 20px;
  position: relative;
  height: 44px;
  width: fit-content; }

.btn_label {
  height: fit-content;
  padding: 0;
  background: none; }
  .btn_label:active {
    color: rgba(31, 32, 65, 0.5); }

.btn_border {
  background-image: linear-gradient(180deg, #bc9cff, #8ba4f9);
  background-origin: border-box;
  border: 2px solid transparent;
  box-shadow: inset 0 3.125rem #fff;
  border-radius: 22px; }
  .btn_border:active {
    background-image: linear-gradient(180deg, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5)); }
  .btn_border:hover {
    color: #bc9cff; }

.btn_fill {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  color: #ffffff; }
  .btn_fill:active {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5));
    color: #ffffff; }
  .btn_fill:hover {
    color: #ffffff; }

.bnt_arrow {
  width: 100%;
  max-width: 320px;
  text-align: center;
  line-height: 15px; }
  .bnt_arrow:after {
    content: url(/assets/img/button/arrow_forward.svg);
    float: right; }

.btn_small {
  padding: 10px 20px;
  height: 34px; }

.footer {
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05); }

.footer__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 100px 0; }

.footer__content__column {
  max-width: 260px; }

.footer__content__column__logo {
  margin-bottom: 20px; }

.footer__content__column__item, .footer__content__column__item_link {
  display: block;
  color: rgba(31, 32, 65, 0.75);
  margin-top: 20px; }

.footer__content__column__item_link {
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5); }
  .footer__content__column__item_link:hover {
    color: rgba(31, 32, 65, 0.75);
    transition: 0.3s; }

.footer__copyright {
  display: flex;
  justify-content: space-between;
  padding: 27px 0;
  border-top: 1px solid rgba(31, 32, 65, 0.25); }

.text-field__input {
  font-family: Montserrat;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  padding: 13px 15px;
  width: 100%;
  max-width: 320px;
  height: 44px; }
  .text-field__input:hover {
    outline: none;
    border: 1px solid rgba(31, 32, 65, 0.5); }
  .text-field__input:focus {
    outline: none;
    border: 1px solid rgba(31, 32, 65, 0.5); }
  .text-field__input::placeholder {
    color: rgba(31, 32, 65, 0.25); }

.text-field__submit {
  float: right;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  cursor: pointer; }

.text-field__title {
  padding-bottom: 5px; }

.text-field__subscription {
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  display: flex;
  float: left;
  width: 100%;
  max-width: 267px; }
  .text-field__subscription:hover {
    border: 1px solid rgba(31, 32, 65, 0.5); }

.text-field__date {
  max-width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.text-field__date__item {
  max-width: 150px;
  min-width: 20px; }

.text-field_date::placeholder {
  color: rgba(31, 32, 65, 0.5); }

.text-field_filter-date {
  width: 100%;
  max-width: 266px;
  background: url(/assets/img/text-field/expand_more.svg) no-repeat 94% 50%; }

.text-field_subscription {
  border: none;
  width: 100%;
  max-width: 240px;
  padding-right: 0px; }
  .text-field_subscription:hover {
    border: none; }
  .text-field_subscription:hover .textField__subscription {
    border: 1px solid red; }
  .text-field_subscription:focus {
    border: none; }

.social-section {
  display: flex; }

.social-section__item {
  margin-right: 20px; }
  .social-section__item:last-child {
    margin-right: 0; }

.footer-company-info {
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05); }

.footer-company-info__content {
  padding-top: 100px;
  padding-bottom: 110px; }

.footer-company-info__content__logo {
  width: fit-content;
  margin: auto;
  margin-bottom: 20px; }

.footer-company-info__content__text {
  max-width: 560px;
  text-align: center;
  margin: auto;
  margin-bottom: 25px; }

.footer-company-info__content__social {
  width: fit-content;
  margin: auto; }

.footer-company-info {
  display: none; }

@media screen and (max-width: 980px) {
  .footer {
    display: none; }
  .footer-company-info {
    display: block; } }

.room-details-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "first first second"  "first first third"; }

.room-details-img__item:nth-child(1) {
  grid-area: first;
  height: 100%; }

.room-details-img__item:nth-child(2) {
  grid-area: second; }

.room-details-img__item:nth-child(3) {
  grid-area: third; }

.positive-room__content {
  max-width: 280px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1); }

.positive-room__content__icon {
  display: inline-block; }

.positive-room__content__info {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px; }

.positive-room__content__info__title {
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px; }

.positive-room__content__info__description {
  display: block; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline; }

a {
  text-decoration: none; }
  a:active, a:hover {
    outline: 0; }

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: border-box; }

:focus {
  outline: 0; }

img,
audio,
video {
  max-width: 100%;
  height: auto; }

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle; }

iframe {
  border: 0; }

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none; }

input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

html {
  line-height: 1.4;
  font-size: 18px;
  color: #101010;
  height: 100%; }
  @media screen and (max-width: 1440px) {
    html {
      font-size: 16px; } }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75); }
  body.grey_body {
    background-color: #e5e5e5; }

*,
*:before,
*:after {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #1f2041; }

h1 {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px; }

h2 {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase; }

a {
  text-decoration: none; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: rgba(31, 32, 65, 0.5); }

section,
.section {
  position: relative;
  padding: 0px 0; }

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh; }

.container {
  max-width: 1160px;
  width: 100%;
  min-width: 320px;
  position: relative;
  margin: 0 auto;
  height: inherit; }
  @media screen and (max-width: 980px) {
    .container {
      max-width: tableWidth; } }
  @media screen and (max-width: 768px) {
    .container {
      max-width: phoneWidth; } }
  @media screen and (max-width: 480px) {
    .container {
      max-width: smPhoneWidth; } }

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/montserrat-v14-latin_cyrillic-700.4f7f88756f0cc15b3056fd4f0b747e8d.eot);
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(../fonts/montserrat-v14-latin_cyrillic-regular.92adc67f675dd40e65d907d78f579330.eot?#iefix) format("embedded-opentype"), url(../fonts/montserrat-v14-latin_cyrillic-regular.4cd0fd34f59af6827ed740223b5ce110.woff2) format("woff2"), url(../fonts/montserrat-v14-latin_cyrillic-regular.b3e1c2f055c2c905173fa58205cd6ddd.woff) format("woff"), url(../fonts/montserrat-v14-latin_cyrillic-regular.1302096aa6794f7cec3928df73140775.ttf) format("truetype"), url(../fonts/montserrat-v14-latin_cyrillic-regular.cf4574fbce791ed7debe1dee7f816283.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/montserrat-v14-latin_cyrillic-700.4f7f88756f0cc15b3056fd4f0b747e8d.eot);
  /* IE9 Compat Modes */
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(../fonts/montserrat-v14-latin_cyrillic-700.4f7f88756f0cc15b3056fd4f0b747e8d.eot?#iefix) format("embedded-opentype"), url(../fonts/montserrat-v14-latin_cyrillic-700.bbc96d50ab9d8291be82b05f64bfeb11.woff2) format("woff2"), url(../fonts/montserrat-v14-latin_cyrillic-700.dda8fc164a6a04a69538d3287a3d05e7.woff) format("woff"), url(../fonts/montserrat-v14-latin_cyrillic-700.534aa45a1095f2ae90182548a50dd142.ttf) format("truetype"), url(../fonts/montserrat-v14-latin_cyrillic-700.95be07dac3b156d621c2df79bee25d06.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* Material Icons */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.e79bfd88537def476913f3ed52f4f4b3.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../fonts/MaterialIcons-Regular.570eb83859dc23dd0eec423a49e147fe.woff2) format("woff2"), url(../fonts/MaterialIcons-Regular.012cf6a10129e2275d79d6adac7f3b02.woff) format("woff"), url(../fonts/MaterialIcons-Regular.a37b0c01c0baf1888ca812cc0508f6e2.ttf) format("truetype"); }

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga"; }

.material-icons.md-10 {
  font-size: 10px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-48 {
  font-size: 48px; }

.material-icons.md-purple {
  color: #bc9cff; }

.material-icons.md-dark-shade-50 {
  color: rgba(31, 32, 65, 0.5); }

.material-icons.md-white {
  color: white; }

.uikit-logo img {
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 65px; }

.base-cards, .book-room-panel {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 380px;
  background: #ffffff;
  padding: 40px 30px 30px; }

.feedback-chart {
  width: fit-content; }

.feedback-chart__diagramm {
  max-width: 120px;
  max-height: 120px;
  margin-right: 30px; }

.feedback-chart__diagramm__chart-text {
  fill: #bc9cff;
  transform: translateY(0.15em); }

.feedback-chart__diagramm__chart-number {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 7px;
  line-height: 1;
  text-anchor: middle;
  transform: translateY(-0.25em); }

.feedback-chart__diagramm__chart-label {
  font-family: "Montserrat", sans-serif;
  font-size: 0.2em;
  text-transform: uppercase;
  text-anchor: middle;
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  transform: translateY(0.7em); }

.feedback-chart__key {
  display: inline-block;
  height: fit-content;
  vertical-align: bottom; }

.feedback-chart__key li::before {
  content: "";
  vertical-align: middle;
  line-height: 24px;
  margin-right: 5px;
  border-radius: 50%;
  font-size: 1px;
  padding: 5px; }

.feedback-chart__key li:nth-child(1)::before {
  background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%); }

.feedback-chart__key li:nth-child(2)::before {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%); }

.feedback-chart__key li:nth-child(3)::before {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%); }

.feedback-chart__key li:nth-child(4)::before {
  background: linear-gradient(180deg, #919191 0%, #3d4975 100%); }

.feedback-chart__diagramm__sector .feedback-chart__diagramm__white-sector {
  transform: rotate(5deg); }

.avatar__img {
  width: 48px;
  height: 48px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
  border-radius: 32px; }

.like-button, .like-button_liked {
  cursor: pointer;
  display: inline-flex;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  width: 40px;
  height: 20px; }

.like-button__count, .like-button__count_liked {
  color: rgba(31, 32, 65, 0.25);
  font-size: 10px;
  line-height: 20px; }
  .like-button__count span, .like-button__count_liked span {
    bottom: 0; }

.like-button__count_liked {
  color: #bc9cff; }

.like-button__icon, .like-button__icon_liked {
  width: 50%;
  color: rgba(31, 32, 65, 0.25);
  text-align: center; }
  .like-button__icon i, .like-button__icon_liked i {
    padding-top: 5px; }

.like-button_liked {
  border: 1px solid  #BC9CFF; }

.comment__person {
  position: relative; }

.comment__person__avatar {
  display: inline-block;
  vertical-align: top; }

.comment__person__info {
  display: inline-block;
  padding-left: 10px; }

.comment__person__info__name {
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px; }

.comment__person__info__was-online {
  display: block; }

.comment__content {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-column-gap: 14px;
  margin-top: 12px;
  margin-left: 3px; }

.comment__content__like-button {
  display: inline; }

.comment__content__text {
  display: inline; }

.comment-list {
  max-width: 712px;
  padding-right: 20px; }

.comment-list__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px; }

.comment-list__header__reviews-count {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5); }

.comment-list__content__item {
  margin-bottom: 22px; }
  .comment-list__content__item:last-child {
    margin-bottom: 0px; }

.bullet-list {
  width: 290px; }

.bullet-list__item {
  display: inline-block;
  padding-top: 10px; }

.bullet-list__item__marker {
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: rgba(31, 32, 65, 0.25);
  margin-right: 10px; }

.bullet-list__item__title {
  line-height: 24px;
  display: inline-block;
  width: 265px; }

.bullet-list__item__title {
  display: inline-block; }

.book-room-panel__content__room-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }

.book-room-panel__content__room-info__number {
  display: inline-flex; }

.book-room-panel__content__room-info__number__num {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 17px;
  /* Dark 100% */
  color: #1f2041;
  margin-right: 5px; }

.book-room-panel__content__room-info__number__luxe {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-transform: uppercase;
  /* Primary Color */
  color: #bc9cff;
  padding-top: 2px; }

.book-room-panel__content__room-info__cost {
  font-family: Montserrat;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5); }

.book-room-panel__content__date {
  margin-bottom: 20px; }

.book-room-panel__content__guests {
  margin-bottom: 20px; }

.book-room-panel__content__pay-info__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; }
  .book-room-panel__content__pay-info__item:last-child {
    margin-bottom: 30px; }

.book-room-panel__content__total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px; }
  .book-room-panel__content__total h2 {
    white-space: nowrap; }
    .book-room-panel__content__total h2:first-child {
      margin-right: 5px; }
    .book-room-panel__content__total h2:last-child {
      margin-left: 5px; }

.book-room-panel__content__total__tab {
  height: 18px;
  border-bottom: 1px dashed rgba(31, 32, 65, 0.25);
  width: 100%;
  max-width: 250px; }

.text-field__input {
  font-family: Montserrat;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  padding: 13px 15px;
  width: 100%;
  max-width: 320px;
  height: 44px; }
  .text-field__input:hover {
    outline: none;
    border: 1px solid rgba(31, 32, 65, 0.5); }
  .text-field__input:focus {
    outline: none;
    border: 1px solid rgba(31, 32, 65, 0.5); }
  .text-field__input::placeholder {
    color: rgba(31, 32, 65, 0.25); }

.text-field__submit {
  float: right;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  cursor: pointer; }

.text-field__title {
  padding-bottom: 5px; }

.text-field__subscription {
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  display: flex;
  float: left;
  width: 100%;
  max-width: 267px; }
  .text-field__subscription:hover {
    border: 1px solid rgba(31, 32, 65, 0.5); }

.text-field__date {
  max-width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.text-field__date__item {
  max-width: 150px;
  min-width: 20px; }

.text-field_date::placeholder {
  color: rgba(31, 32, 65, 0.5); }

.text-field_filter-date {
  width: 100%;
  max-width: 266px;
  background: url(/assets/img/text-field/expand_more.svg) no-repeat 94% 50%; }

.text-field_subscription {
  border: none;
  width: 100%;
  max-width: 240px;
  padding-right: 0px; }
  .text-field_subscription:hover {
    border: none; }
  .text-field_subscription:hover .textField__subscription {
    border: 1px solid red; }
  .text-field_subscription:focus {
    border: none; }

.dropdown {
  position: relative;
  font-family: "Montserrat", sans-serif;
  max-width: 320px;
  min-width: 220px; }

.dropdown__title {
  padding-bottom: 5px; }

.dropdown__label {
  position: relative;
  display: flex;
  max-width: 320px;
  min-width: 220px;
  height: 44px;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  padding: 10px 15px;
  font-weight: normal;
  cursor: pointer; }

.dropdown__label__arrow {
  position: absolute;
  right: 0;
  margin-right: 10px;
  width: 24px;
  height: 24px; }

.dropdown__label__arrow_reflected {
  transform: rotate(180deg); }

.dropdown__menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  z-index: 10;
  width: 100%;
  max-width: 320px;
  min-width: 220px;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-top: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05); }

.dropdown__item, .dropdown__item_btn {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  padding: 7px 7px 0px 15px; }
  .dropdown__item:last-child, .dropdown__item_btn:last-child {
    margin-bottom: 7px; }

.dropdown__item__edit {
  display: flex;
  float: right;
  margin-left: auto;
  padding: 0px 0px 0px 15px; }

.dropdown__item__change {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 100%;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: rgba(31, 32, 65, 0.5); }
  .dropdown__item__change:hover {
    background: rgba(31, 32, 65, 0.05); }
  .dropdown__item__change:active {
    background: rgba(31, 32, 65, 0.25); }

.dropdown__item__change_disabled {
  border: 1px solid rgba(31, 32, 65, 0.05);
  color: rgba(31, 32, 65, 0.05); }

.dropdown__item__value {
  width: 32px;
  margin-top: 8px;
  text-align: center; }

.dropdown__item_btn {
  margin-bottom: 13px;
  margin-top: 13px; }

.dropdown__btn_apply {
  float: right;
  margin-left: auto;
  color: #bc9cff;
  cursor: pointer; }

.dropdown__btn_clear {
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer; }

.btn {
  display: inline-block;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #bc9cff;
  padding: 15px 20px;
  position: relative;
  height: 44px;
  width: fit-content; }

.btn_label {
  height: fit-content;
  padding: 0;
  background: none; }
  .btn_label:active {
    color: rgba(31, 32, 65, 0.5); }

.btn_border {
  background-image: linear-gradient(180deg, #bc9cff, #8ba4f9);
  background-origin: border-box;
  border: 2px solid transparent;
  box-shadow: inset 0 3.125rem #fff;
  border-radius: 22px; }
  .btn_border:active {
    background-image: linear-gradient(180deg, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5)); }
  .btn_border:hover {
    color: #bc9cff; }

.btn_fill {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  color: #ffffff; }
  .btn_fill:active {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5));
    color: #ffffff; }
  .btn_fill:hover {
    color: #ffffff; }

.bnt_arrow {
  width: 100%;
  max-width: 320px;
  text-align: center;
  line-height: 15px; }
  .bnt_arrow:after {
    content: url(/assets/img/button/arrow_forward.svg);
    float: right; }

.btn_small {
  padding: 10px 20px;
  height: 34px; }

.room-details__content {
  margin-top: 70px; }

.room-details__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "positive-room  feedback-chart  book-room-panel"  "reviews        reviews         book-room-panel"  "regulations    cancellation    book-room-panel"; }

.room-details__content__positive-room {
  grid-area: positive-room;
  outline: 1px solid #fff;
  outline-offset: -1px; }

.room-details__content__feedback-chart {
  grid-area: feedback-chart; }

.room-details__content__feedback-chart__header {
  margin-bottom: 20px; }

.room-details__content__reviews {
  grid-area: reviews;
  margin-bottom: 30px; }

.room-details__content__regulations {
  grid-area: regulations; }

.room-details__content__regulations__header {
  margin-bottom: 10px; }

.room-details__content__cancellation {
  grid-area: cancellation; }

.room-details__content__cancellation__header {
  margin-bottom: 20px; }

.room-details__content__book-room-panel {
  grid-area: book-room-panel; }

@media screen and (max-width: 980px) {
  .room-details__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "positive-room  book-room-panel"  "feedback-chart book-room-panel"  "reviews reviews "  "regulations cancellation "; } }

@media screen and (max-width: 768px) {
  .room-details__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "positive-room "  "feedback-chart"  "reviews"  "regulations"  "cancellation"  "book-room-panel"; } }

