$widthTextField: 320px;
.text-field {
  font-family: Montserrat;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  padding: 13px 15px;
  width: $widthTextField;
  &:hover {
    outline: none;
    border: 1px solid rgba(31, 32, 65, 0.5);
  }
  &:focus {
    outline: none;
    border: 1px solid rgba(31, 32, 65, 0.5);
  }
}

.text-field.arrow {
  background: url(/assets/img/text-field/arrow_forward.svg) no-repeat
    $widthTextField - 35px 15px;
}

.text-field.date {
  width: 150px;
  font-size: 14px;
  margin-right: 20px;
  margin-top: 5px;
  background: url(/src/assets/img/text-field/expand_more.svg) no-repeat 10px
    20px;
  background-size: auto 90%;
}
