.book-room-panel__content__room-info__number__num__item {
  font-family: "Quicksand", "Open Sans";

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #1f2041;
  margin-right: 5px;
}
