.dropdown__item {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  padding: 7px 7px 0px 15px;

  &:last-child {
    margin-bottom: 13px;
    margin-top: 13px;
  }
}
@import "./__label/dropdown__item__label.scss";
@import "./__edit/dropdown__item__edit.scss";
@import "./__change/dropdown__item__change.scss";
@import "./__value/dropdown__item__value.scss";
