@import "../../../styles/colors.scss";

$arrowSvg: url(/src/img/button/arrow_forward.svg);
$border: 2px;
$borerRadius: 22px;
$color_gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$color_gradient_opacity: linear-gradient(
  180deg,
  rgba(188, 156, 255, 0.5),
  rgba(139, 164, 249, 0.5)
);

.btn {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: $color_Purple;
  padding: 15px 20px;
  position: relative;

  &:active.btn--label {
    color: $color_Dark_Shade_50;
  }
}

.btn--border {
  background: #fff;
  border-radius: $borerRadius;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: $color_gradient;
  }
  &:active {
    &:before {
      background: $color_gradient_opacity;
    }
  }
}

.btn--fill {
  background: $color_gradient;
  border-radius: $borerRadius;
  color: #ffffff;

  &:active {
    background: $color_gradient_opacity;
  }
}

.bnt--label--arrow {
  width: 280px;
  text-align: center;
  padding: 15px 17px 9px 0px;

  &:after {
    float: right;
    content: $arrowSvg;
  }
}
