mixin pagination(pageNumber = 1, itemsOnPageCount = 12, itemsCount = 175)
  .pagination
    .pagination__content(page-number=pageNumber items-on-page=itemsOnPageCount items-count=itemsCount)
    .pagination__description