mixin btn (text = "Click Me", type = "fillButton",link="#")
  case type
    when "labelButton"
      a.btn.btn_label(href=link)=text
    when "borerButton"
      a.btn.btn_border(href=link)=text
    when "fillButton"
      a.btn.btn_fill(href=link)=text
    when "arrowButton"
      a.btn.btn_fill.bnt_arrow(href=link)=text