.img-slider__buttons__dot{
  display: inline-block;
  cursor: pointer;
  margin-right: 4px;
  width: 7.5px;
  height: 7.5px;
  border: 1px #ffffff solid;
  border-radius: 50%;
  &:last-child {
    margin-right: 0px;
  }
}