.checkBoxList {
  width: 222px;
}

.checkBoxTitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  padding-bottom: 16px;
}

.checkBoxList.expandable {
  cursor: pointer;
}

.listItems.expandable {
  display: none;
}

.checkBoxTitle.expandable::after {
  float: right;
  content: url(/src/img/arrow.png);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}
