$widthTextField: 320px;
.text-field {
  font-family: Montserrat;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  padding: 13px 15px;
  width: $widthTextField;
  &:hover {
    outline: none;
    border: 1px solid rgba(31, 32, 65, 0.5);
  }
  &:focus {
    outline: none;
    border: 1px solid rgba(31, 32, 65, 0.5);
  }
}

.text-field.arrow {
  background: url(/src/img/text-field/arrow_forward.svg) no-repeat
    $widthTextField - 30px 12px;
}
