@import "../../theme/global.scss";
.feedback-chart {
  width: fit-content;
}

.feedback-chart__diagramm {
  max-width: 120px;
  max-height: 120px;
  margin-right: 30px;
  //transform: rotate(5deg);
}
.feedback-chart__diagramm__chart-text {
  //font: 16px/1.4em "Montserrat", Arial, sans-serif;
  fill: $color_Purple;

  transform: translateY(0.15em);
}

.feedback-chart__diagramm__chart-number {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 7px;
  line-height: 1;
  text-anchor: middle;
  transform: translateY(-0.25em);
}

.feedback-chart__diagramm__chart-label {
  font-family: "Montserrat", sans-serif;
  font-size: 0.2em;
  text-transform: uppercase;
  text-anchor: middle;
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  transform: translateY(0.7em);
}

.feedback-chart__key {
  display: inline-block;
  height: fit-content;
  vertical-align: bottom;
}

.feedback-chart__key li {
  &::before {
    content: "";
    vertical-align: middle;
    line-height: 24px;
    margin-right: 5px;
    border-radius: 50%;
    font-size: 1px;
    padding: 5px;
  }
}

.feedback-chart__key li:nth-child(1) {
  &::before {
    background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
  }
}

.feedback-chart__key li:nth-child(2) {
  &::before {
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  }
}

.feedback-chart__key li:nth-child(3) {
  &::before {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  }
}

.feedback-chart__key li:nth-child(4) {
  &::before {
    background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
  }
}


.feedback-chart__diagramm__sector 
.feedback-chart__diagramm__white-sector{
  transform: rotate(5deg);
}