mixin feedbackChart(assessments={sumptuously:130, good: 65, satisfactorily: 65, disappointed: 0})

  .feedback-chart(sumptuously=assessments.sumptuously good=assessments.good satisfactorily=assessments.satisfactorily disappointed=assessments.disappointed)

    svg.feedback-chart__diagramm(xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 35 35")
