.checkbox-list__title_expandable {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  justify-content: space-between;

  span {
    vertical-align: middle;
  }
}

@import "./__arrow/checkbox-list__title_expandable__arrow.scss";
