mixin colors()
  .colors
    .colors__wrapper
      .colors__wrapper__item
        .colors__wrapper__item__color.colors__wrapper__item__color_dark100
        .colors__wrapper__item__color-info
          h2 Dark Shade 100%
          span #1F2041
      .colors__wrapper__item
        .colors__wrapper__item__color.colors__wrapper__item__color_dark75
        .colors__wrapper__item__color-info
          h2 Dark Shade 75%
          span #1F2041
      .colors__wrapper__item
        .colors__wrapper__item__color.colors__wrapper__item__color_dark50
        .colors__wrapper__item__color-info
          h2 Dark Shade 50%
          span #1F2041
      .colors__wrapper__item
        .colors__wrapper__item__color.colors__wrapper__item__color_dark25
        .colors__wrapper__item__color-info
          h2 Dark Shade 25%
          span #1F2041
      .colors__wrapper__item
        .colors__wrapper__item__color.colors__wrapper__item__color_dark5
        .colors__wrapper__item__color-info
          h2 Dark Shade 5%
          span #1F2041
      .colors__wrapper__item
        .colors__wrapper__item__color.colors__wrapper__item__color_purple
        .colors__wrapper__item__color-info
          h2 Purple
          span #BC9CFF
      .colors__wrapper__item
        .colors__wrapper__item__color.colors__wrapper__item__color_green
        .colors__wrapper__item__color-info
          h2 Green
          span #6FCF97
