mixin textField(title="textField", placeholder="textField", arrow=false)
  
  if arrow
    input(type="text" id="text-field1" class="text-field arrow" placeholder=placeholder)
  else
    h3(for="text-field1")=title
    input(type="text" id="text-field1" class="text-field" placeholder=placeholder)