.text-field {
  font-family: Montserrat;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  padding: 13px 15px;
  width: 320px;
}
.text-field:hover {
  outline: none;
  border: 1px solid rgba(31, 32, 65, 0.5);
}
.text-field:focus {
  outline: none;
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.label-text-field {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}
