.form-elements__items {
  //border: 1px solid red;
  position: relative;
  width: 30%;
  min-width: 220px;
  margin-right: 20px;

  border: 1px solid red;
}

@import "./__item/form-elements__items__item.scss";
