$DropDownMaxWidth: 320px;
$DropDownMinWidth: 220px;

.dropdown {
  font-family: "Montserrat", sans-serif;
  max-width: $DropDownMaxWidth;
  min-width: $DropDownMinWidth;
}

@import "./__title/dropdown__title.scss";
@import "./__label/dropdown__label.scss";
@import "./__menu/dropdown__menu.scss";
@import "./__item/dropdown__item.scss";
@import "./__btn/dropdown__btn.scss";
