.search__panel {
  @extend .base-cards;
}

.search__panel__content {

}

.search__panel__title {
  margin-bottom: 20px;
  padding-right: 50px;
}

.search__panel__datepicker {
  margin-bottom: 20px;
}

.search__panel__guests {
  margin-bottom: 30px;
  //align-items: center;
}
