.checkbox-list__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

@import "./_expandable/checkbox-list__title_expandable.scss";
@import "./__text/checkbox-list__title__text.scss";
