mixin rateButton(count=4)
  .rate-button
    -for(let i=0;i<count;i++)
      .rate-button__item
        include ../../../assets/img/rate-button/star.svg
    -for(let i=0;i<(5-count);i++)
      .rate-button__item
        include ../../../assets/img/rate-button/star_border.svg
    