mixin socialSection()
  .social-section
    .social-section__item
      a(href="https://twitter.com/")
        img(src="../../../assets/img/social/twitter.svg")
    .social-section__item
      a(href="https://www.facebook.com/")
        img(src="../../../assets/img/social/facebook.svg")
    .social-section__item
      a(href="https://www.instagram.com/")
        img(src="../../../assets/img/social/instagram.svg")