.book-room-panel__content__room-info__number__luxe {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  text-transform: uppercase;

  /* Primary Color */

  color: #bc9cff;

  padding-top: 2px;
}
