$borderRadius_text-field: 4px;
$border_text-field: 1px solid rgba(31, 32, 65, 0.25);
$borderActive_text-field: 1px solid rgba(31, 32, 65, 0.5);

.text-field__input {
  font-family: Montserrat, "Open Sans";
  font-size: 14px;
  line-height: 18px;
  border-radius: $borderRadius_text-field;
  border: $border_text-field;
  box-sizing: border-box;
  padding: 12px 15px;
  max-width: 320px;
  min-width: 100px;
  width: 100%;

  &:hover {
    outline: none;
    border: $borderActive_text-field;
  }
  &:focus {
    outline: none;
    border: $borderActive_text-field;
  }
  &::placeholder {
    color: $color_Dark_Shade_25;
  }
}
