include ../primitive-modules/datepicker/datepicker
include ../primitive-modules/dropdown/dropdown
include ../primitive-modules/button/button

mixin introSearchPanel()
  .container
    .search__panel
      .search__panel__content
        .search__panel__title
          h1 Найдем номера под ваши пожелания
        .search__panel__datepicker
          +datepicker(2)
        .search__panel__guests
          +dropdown("Гости",0,0,1)
        .search__panel__button
          +button("Подобрать номер", "arrowButton", "#")

