$borerRadius: 22px;
$border: 2px;
$color_gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$color_gradient_opacity: linear-gradient(
  180deg,
  rgba(188, 156, 255, 0.5),
  rgba(139, 164, 249, 0.5)
);

.btn_border {
  background-image: linear-gradient(180deg, #bc9cff, #8ba4f9);
  background-origin: border-box;
  border: 2px solid transparent;
  box-shadow: inset 0 3.125rem #fff;
  border-radius: $borerRadius;

  &:active {
    background-image: $color_gradient_opacity;
  }

  &:hover {
    color: $color_Purple;
  }
}
