.form-elements__column_3{
  grid-area: form-elements__column_3;
}

.form-elements__column_3 .form-elements__column__item {
  &:nth-child(1) {
    margin-bottom: 48px;
  }
  &:nth-child(2) {
    margin-bottom: 40px;
  }
  &:nth-child(3) {
    margin-bottom: 0px;
  }
  
}