mixin textField(title="textField", placeholder="textField", arrow=false, classes="", attributes="")
  
  if arrow
    input(type="text" id="text-field1" class="text-field arrow "+classes placeholder=placeholder attributes)
  else
    h3(for="text-field1")=title
    input(type="text" id="text-field1" class="text-field "+classes placeholder=placeholder attributes)