@import "./variables.scss";
@import "./reset.scss";
@import "./fonts.scss";

.uikit-logo {
  & img {
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 65px;
  }
}
.base-cards {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 380px;
  background: #ffffff;
  padding: 40px 30px 30px;
}
