//
//  Fonts
//
$mainFont: "Montserrat", Helvetica, Arial, sans-serif;

//
//  Sizes
//
$mainFontColor: #101010;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desktopWidth: 1440px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

$textFieldHigth:44px;

//
//  Colors
//
$color_Dark_Shade_100: #1f2041;
$color_Dark_Shade_75: rgba(31, 32, 65, 0.75);
$color_Dark_Shade_50: rgba(31, 32, 65, 0.5);
$color_Dark_Shade_25: rgba(31, 32, 65, 0.25);
$color_Dark_Shade_5: rgba(31, 32, 65, 0.05);
$color_Purple: #bc9cff;
$color_Green: #6fcf97;
