mixin headers()
  .headers 
    .headers__wrapper
      .headers__wrapper__item
        .headers__wrapper__item__header
          span H1
        .headers__wrapper__item__body
          h1 This one is the sub-section or widget title
      .headers__wrapper__item
        .headers__wrapper__item__header
          span H2
        .headers__wrapper__item__body
          h2 Next one is the item title inside widgets
      .headers__wrapper__item
        .headers__wrapper__item__header
          span H3
        .headers__wrapper__item__body
          h3 This is a label or CTA text
      .headers__wrapper__item
        .headers__wrapper__item__header
          span Body
        .headers__wrapper__item__body
          span This is the body text which is used for most of the design, like paragraphs, lists, etc.