mixin headers()
  .headers 
    .headers__content
      span.headers__content__title.headers__content__title_h1 H1
      h1.headers__content__body.headers__content__body_h1 This one is the sub-section or widget title

      span.headers__content__title.headers__content__title_h2 H2
      h2.headers__content__body.headers__content__body_h2 Next one is the item title inside widgets

      span.headers__content__title.headers__content__title_h3 H3
      h3.headers__content__body.headers__content__body_h3 This is a label or CTA text

      span.headers__content__title.headers__content__title_body Body
      span.headers__content__body.headers__content__body_body This is the body text which is used for most of the design, like paragraphs, lists, etc


