extends ../layout/main

include ../includes/modules/primitive-components/checkbox-item
include ../includes/modules/primitive-components/checkbox-list
include ../includes/modules/primitive-components/dropdown
include ../includes/modules/primitive-components/rate-button

include ../includes/modules/intro-search-panel

block variables
  -var title = 'Webpack + Pug'
  -var desc = 'Webpack + Pug'
  -var pageClass = 'index-page'
  -let checkBoxListValues = [{title:"Можно курить", checked:false},{title:"Можно с питомцами", checked:false},{title:"Можно пригласить гостей (до 10 человек)", checked:false}];

block content 
  section
    .container
      h1 index.html
      h1 as
      +checkBoxItem()
      +checkBoxList("CheckboxButtons", checkBoxListValues, true)
      +dropdown("Dropdown",1,2,3)
      +dropdown("Dropdown",1,2,1)
      +rateButton()
      
      +introSearchPanel()