.book-room-panel__content__room-info__number__num {

  font-family: "Quicksand", sans-serif;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 17px;


  /* Dark 100% */

  color: #1f2041;
  margin-right: 5px;
}
