$borderRadiusUp: 4px 4px 0px 0px;
$borderRadiusDown: 0px 0px 4px 4px;

.dropdown__label {
  position: relative;
  display: flex;
  width: $width;
  border-radius: $borderRadiusUp;
  border: 1px solid $color_Dark_Shade_25;
  padding: 12px 15px;
  font-weight: normal;
  cursor: pointer;
}

@import "./__text/dropdown__label__text.scss";
@import "./__arrow/dropdown__label__arrow.scss";
