include ../blocks/building-blocks/intro-search-panel/intro-search-panel
include ../blocks/building-blocks/registration-panel/registration-panel
include ../blocks/building-blocks/book-room-panel/book-room-panel
include ../blocks/building-blocks/authorization-panel/authorization-panel
include ../blocks/primitive-blocks/datepicker/datepicker
include ../blocks/building-blocks/room-item/room-item
-
  var images_src1 = ["../assets/img/rooms/1.jpg","../assets/img/rooms/11.jpg","../assets/img/rooms/4.jpg","../assets/img/rooms/6.jpg"];
  var images_src2 = ["../assets/img/rooms/2.jpg","../assets/img/rooms/10.jpg","../assets/img/rooms/7.jpg","../assets/img/rooms/4.jpg"];
html
  head
    meta(name="viewport" content="width=device-width")
  body(class='grey_body')
    header.uikit-logo
      img(src="../assets/img/uikit/Logo.svg")
    .container
      .cards
        .cards__column
          .cards__column__item
            +introSearchPanel()
          .cards__column__item
            +registrationPanel()
        .cards__column
          .cards__column__item
            +bookRoomPanel()
          .cards__column__item
            +authorizationPanel()
        .cards__column
          .cards__column__item
            +datePicker()
          .cards__column__item
            +roomItem(images_src1, "888", true, "9 990", 5, 145)
          .cards__column__item
            +roomItem(images_src2, "840", false, "9 900", 4, 65)
