include ../blocks/primitive-blocks/colors/colors
include ../blocks/primitive-blocks/headers/headers
html
  body
    header.uikit-logo
      img(src="../assets/img/uikit/Logo.svg")
    .container
      .colors-type__wrapper
        +colors()
        +headers()
    