.form-elements {
  display: flex;
  //justify-content: space-between;
  flex-wrap: wrap;
}

.form-elements__items {
  border: 1px solid red;
  position: relative;
  width: 33.3333%;
  min-width: 220px;
}

.form-elements__items_item {
  padding-bottom: 20px;
}
