
include ../blocks/building-blocks/header/header
include ../blocks/building-blocks/footer/footer
include ../blocks/building-blocks/footer-company-info/footer-company-info
-
  let header_links = [
    {title:"Home", link:"#", isActive:true, subLinks:[]},
    {title:"About Us", link:"#", isActive:false, subLinks:[]},
    {title:"Services", link:"#", isActive:false, subLinks:[{title:"Search rooms", link:"#"},{title:"Add room", link:"#"}]},
    {title:"Careers", link:"#", isActive:false, subLinks:[]},
    {title:"News", link:"#", isActive:false, subLinks:[]},
    {title:"Documentation", link:"#", isActive:false, subLinks:[]}
    ];
html
  head
    meta(name="viewport" content="width=device-width")
  body(class='grey_body')
    header.uikit-logo
      img(src="../assets/img/uikit/Logo.svg")
    .headers-and-footers
      .headers-and-footers__item
        +header(header_links,true)
      .headers-and-footers__item
        +header(header_links,false)
      .headers-and-footers__item
        +footer()
      .headers-and-footers__item
        +footerCompanyInfo()