extends ../layout/main

include ../modules/primitive-modules/checkbox-item/checkbox-item
include ../modules/primitive-modules/checkbox-list/checkbox-list
include ../modules/primitive-modules/dropdown/dropdown
include ../modules/primitive-modules/rate-button/rate-button
include ../modules/intro-search-panel/intro-search-panel

block variables
  -var title = 'Toxin'
  -var desc = 'Webpack + Pug'
  -var pageClass = 'index-page'
  -let checkBoxListValues = [{title:"Можно курить", checked:false},{title:"Можно с питомцами", checked:false},{title:"Можно пригласить гостей (до 10 человек)", checked:false}];

block content 
  section
    .intro
      +introSearchPanel()
      img(src="../../assets/img/intro/background.jpg")
      
      
        
        //- +checkBoxItem()
        //- +checkBoxList("CheckboxButtons", checkBoxListValues, true)
        
        //- +dropdown("Dropdown",1,2,1)
        //- +rateButton()
      
        