extends ../layout/main

include ../blocks/primitive-blocks/text-field/text-field
include ../blocks/primitive-blocks/btn/btn
include ../blocks/primitive-blocks/checkbox-item/checkbox-item
include ../blocks/primitive-blocks/checkbox-list/checkbox-list
include ../blocks/primitive-blocks/dropdown/dropdown
include ../blocks/primitive-blocks/rate-button/rate-button
include ../blocks/primitive-blocks/radio-buttons/radio-buttons
include ../blocks/primitive-blocks/bullet-list/bullet-list
include ../blocks/primitive-blocks/range-slider/range-slider
include ../blocks/primitive-blocks/pagination/pagination
include ../blocks/primitive-blocks/img-slider/img-slider


block variables
  -var title = 'Toxin - Бронирование номеров'
  -var desc = 'Webpack + Pug'
  -var pageClass = 'index-page'
  -let checkBoxListValues = [{title:"Можно курить", checked:false},{title:"Можно с питомцами", checked:false},{title:"Можно пригласить гостей (до 10 человек)", checked:false}];
  
block content
  section
    h1 h
    h1 h
    h1 h
    //- +textField(["Default"],"Default")
    //- br
    //- +textField(["subscription"],"subscription", "subscription")
    //- br
    //- br
    //- +textField(["Прибытие","Выезд"],"ДД.ММ.ГГГГ", "date")
    //- br
    //- +textField(["filterDate"],"filterDate", "filterDate")
    //- +btn("Click me","labelButton")
    //- +btn("Click me","borerButton")
    //- +btn("Click me","fillButton")
    //- +btn("Click me","arrowButton")
    //- +checkBoxList("expandable", ["1","2","3","4"])
    //- +checkBoxList("Test", ["1","2","3","4"],false)
    //- +dropdown("Dropdown1",1,1,1)
    //- +dropdown("Dropdown2",0,1,0)
    //- +rateButton(2)
    //- +rateButton()
    //- +radioButtons()
    //- +radioButtons(["text","text2"])
    //- +bulletList()
    //- +bulletList("Test", ["Test1111","Test2222"])
    //- +rangeSlider()
    //- //- +rangeSlider("Slider 2")
    //- br
    //- +pagination(1,1)
    //- br
    //- +pagination(2)
    //- br
    //- +pagination(3)
    //- br
    //- +pagination(4,55)
    //- br
    //- +pagination(4,70)
    +imgSlider(["https://sun9-41.userapi.com/c857720/v857720083/123b6b/q3Wm8gtJL9A.jpg", "https://sun9-44.userapi.com/c858428/v858428913/109d56/52MQVoMyyiA.jpg","https://sun9-62.userapi.com/c858428/v858428913/109d5f/pznWVOeleC0.jpg","https://sun9-10.userapi.com/c858428/v858428913/109d68/lNAC8-GT8eU.jpg","https://sun9-41.userapi.com/c857720/v857720083/123b6b/q3Wm8gtJL9A.jpg","https://sun9-41.userapi.com/c857720/v857720083/123b6b/q3Wm8gtJL9A.jpg","https://sun9-41.userapi.com/c857720/v857720083/123b6b/q3Wm8gtJL9A.jpg"])

    +imgSlider(["https://sun9-41.userapi.com/c857720/v857720083/123b6b/q3Wm8gtJL9A.jpg", "https://sun9-44.userapi.com/c858428/v858428913/109d56/52MQVoMyyiA.jpg","https://sun9-62.userapi.com/c858428/v858428913/109d5f/pznWVOeleC0.jpg"])
    +imgSlider(["https://sun9-41.userapi.com/c857720/v857720083/123b6b/q3Wm8gtJL9A.jpg"])
//- +textField(["Email","Email2"],"Email",false, false,true)

