include ../checkbox-item/checkbox-item

mixin checkBoxList(title="Checkbox buttons", items = [], expandable=true, checkedItems = [])
  if expandable
    .checkbox-list.checkbox-list_expandable
      .checkbox-list__title.checkbox-list__title_expandable
        h3=title
        .checkbox-list__title_expandable__arrow
          i.material-icons.md-24 expand_more
      .checkbox-list__items.checkbox-list__items_expandable
        -for(let i=0;i<items.length;i++)
          .checkbox-list__item
            if(checkedItems.includes(i))
              +checkBoxItem(items[i], true)
            else
              +checkBoxItem(items[i], false)
  else
    .chcheckbox-list
      .checkbox-list__title
        h3=title
      //- each item in items
      -for(let i=0;i<items.length;i++)
        .checkbox-list__item
          if(checkedItems.includes(i))
            +checkBoxItem(items[i], true)
          else
            +checkBoxItem(items[i], false)