include ../checkbox-item/checkbox-item

mixin checkBoxList(params={title:"Checkbox buttons", items: [], expandable:true, checkedItems: []})
  if params.expandable
    .checkbox-list.checkbox-list_expandable
      .checkbox-list__title.checkbox-list__title_expandable
        h3=params.title
        .checkbox-list__title_expandable__arrow
          i.material-icons.md-24 expand_more
      .checkbox-list__items.checkbox-list__items_expandable
        -for(let i=0;i<params.items.length;i++)
          .checkbox-list__item
            if(params.checkedItems.includes(i))
              +checkBoxItem(params.items[i], true)
            else
              +checkBoxItem(params.items[i], false)
  else
    .chcheckbox-list
      .checkbox-list__title
        h3=params.title
      //- each item in items
      -for(let i=0;i<params.items.length;i++)
        .checkbox-list__item
          if(params.checkedItems.includes(i))
            +checkBoxItem(params.items[i], true)
          else
            +checkBoxItem(params.items[i], false)