include ../text-field/text-field
include ../btn/btn

mixin authorizationPanel()
  .authorization-panel
    .authorization-panel__content
      .authorization-panel__content__tittle
        h1 Войти
      form
        .authorization-panel__content__email
          +textField({title:"", placeholder:"Email", inputType:"email"})
        .authorization-panel__content__password
          +textField({title:"", placeholder:"Password", inputType:"password"})
        .authorization-panel__content__btn-auth
          +btn({text: "войти",type: "arrowButton", buttonType:"submit"})
      .authorization-panel__content__register
        .authorization-panel__content__register__label
          label Нет аккаунта на Toxin?
        .authorization-panel__content__register__btn-register
          +btn({text: "создать", type: "borderButton"})


      