.room-list__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-row-gap: 20px;
  grid-column-gap: 12px;
}

@import "./__room-item/room-list__content__room-item.scss";
