-let list = ["Home","About Us","Services","Careers","News","Documentation"];
mixin header(login=false)
  .container
    .header__inner
      .header__logo=11        
      nav.nav
        each item in list
          a.nav__link(href="#")=item