-let list = ["О нас","Услуги","Вакансии","Новости","Соглашения"];
include ../primitive-components/button/button
mixin header(login=false)
  header.header
    .container
      .header__inner
        .header__logo
          include ../../img/logo.svg
        nav.nav
          each item in list
            a.nav__link(href="#")= item
          +button("Войти", "borerButton", "#", className="nav__account__link")
          +button("Зарегистрироваться", "fillButton", "#", className="nav__account__link")
          