.checkbox-list__title_expandable {
  cursor: pointer;
  display: flex;
  position: relative;
  span {
    vertical-align: middle;
  }
}

@import "./__arrow/checkbox-list__title_expandable__arrow.scss";
