mixin socialSection()
  .social-section
    .social-section__item
      a(href="https://twitter.com/")
        img(src=require("blocksPath/social-section/images/twitter.svg"))
    .social-section__item
      a(href="https://www.facebook.com/")
        img(src=require("blocksPath/social-section/images/facebook.svg"))
    .social-section__item
      a(href="https://www.instagram.com/")
        img(src=require("blocksPath/social-section/images/instagram.svg"))