include ../primitive-modules/text-field/text-field
include ../primitive-modules/button/button

mixin registrationPanel()
  .registration-form
    .registration-form__inner
      .registration-form__title
        h1 Регистрация аккаунта
      .registration-form__first-name
        +textField("", "Имя")
      .registration-form__last-name
        +textField("", "Фамилия")
      .registration-form__man-wooman
        //тут radio buttons
      .registration-form__birthday
        +textField("Дата рождения", "ДД.ММ.ГГГГ")
      .registration-form__email
        +textField("Данные для входа в сервис", "Email")
      .registration-form__password
        +textField("", "Пароль")
      .registration-form__subscribe
        //тут Toggle
      .registration-form__go-to-pay
        +button("Перейти к оплате", "arrowButton")
      .registration-form__autorize
        .registration-form__autorize__label
          p Уже есть аккаунт на Toxin
        .registration-form__autorize__button
          +button("Войти", "borerButton")


