extends ../../layouts/main/main

include ../../blocks/filter-panel/filter-panel
include ../../blocks/room-list/room-list

block variables
  -
    
  -
    let roomItems = [
      {
        images: [require("imagesPath/rooms/1.jpg"),require("imagesPath/rooms/11.jpg"),require("imagesPath/rooms/4.jpg"),require("imagesPath/rooms/6.jpg")],
        numberRoom: 888,
        luxe: true,
        cost: "9 990",
        rating: 5,
        reviewsCount: 145
      },
      {
        images: [require("imagesPath/rooms/2.jpg"),require("imagesPath/rooms/10.jpg"),require("imagesPath/rooms/7.jpg"),require("imagesPath/rooms/4.jpg")],
        numberRoom: 840,
        luxe: false,
        cost: "9 900",
        rating: 4,
        reviewsCount: 65
      },
      {
        images: [require("imagesPath/rooms/3.jpg"),require("imagesPath/rooms/10.jpg"),require("imagesPath/rooms/7.jpg"),require("imagesPath/rooms/4.jpg")],
        numberRoom: 980,
        luxe: true,
        cost: "8 500",
        rating: 3,
        reviewsCount: 35
      },
      {
        images: [require("imagesPath/rooms/4.jpg"),require("imagesPath/rooms/10.jpg"),require("imagesPath/rooms/7.jpg"),require("imagesPath/rooms/4.jpg")],
        numberRoom: 840,
        luxe: false,
        cost: "9 900",
        rating: 4,
        reviewsCount: 65
      }
      ,
      {
        images: [require("imagesPath/rooms/5.jpg"),require("imagesPath/rooms/10.jpg"),require("imagesPath/rooms/7.jpg"),require("imagesPath/rooms/4.jpg")],
        numberRoom: 123,
        luxe: false,
        cost: "11 990",
        rating: 2,
        reviewsCount: 21
      },
      {
        images: [require("imagesPath/rooms/6.jpg"),require("imagesPath/rooms/10.jpg"),require("imagesPath/rooms/7.jpg"),require("imagesPath/rooms/4.jpg")],
        numberRoom: 123,
        luxe: false,
        cost: "11 990",
        rating: 2,
        reviewsCount: 21
      },
      {
        images: [require("imagesPath/rooms/7.jpg"),require("imagesPath/rooms/10.jpg"),require("imagesPath/rooms/7.jpg"),require("imagesPath/rooms/4.jpg")],
        numberRoom: 888,
        luxe: false,
        cost: "15 990",
        rating: 4,
        reviewsCount: 22
      },
      {
        images: [require("imagesPath/rooms/8.jpg"),require("imagesPath/rooms/10.jpg"),require("imagesPath/rooms/7.jpg"),require("imagesPath/rooms/4.jpg")],
        numberRoom: 123,
        luxe: false,
        cost: "11 990",
        rating: 2,
        reviewsCount: 21
      },
      {
        images: [require("imagesPath/rooms/9.jpg"),require("imagesPath/rooms/10.jpg"),require("imagesPath/rooms/7.jpg"),require("imagesPath/rooms/4.jpg")],
        numberRoom: 123,
        luxe: false,
        cost: "11 990",
        rating: 2,
        reviewsCount: 21
      },
      {
        images: [require("imagesPath/rooms/10.jpg"),require("imagesPath/rooms/10.jpg"),require("imagesPath/rooms/7.jpg"),require("imagesPath/rooms/4.jpg")],
        numberRoom: 888,
        luxe: false,
        cost: "15 990",
        rating: 4,
        reviewsCount: 22
      },
      {
        images: [require("imagesPath/rooms/11.jpg"),require("imagesPath/rooms/10.jpg"),require("imagesPath/rooms/7.jpg"),require("imagesPath/rooms/4.jpg")],
        numberRoom: 123,
        luxe: false,
        cost: "11 990",
        rating: 2,
        reviewsCount: 21
      },
      {
        images: [require("imagesPath/rooms/12.jpg"),require("imagesPath/rooms/10.jpg"),require("imagesPath/rooms/7.jpg"),require("imagesPath/rooms/4.jpg")],
        numberRoom: 123,
        luxe: false,
        cost: "11 990",
        rating: 2,
        reviewsCount: 21
      }
      
    ];

block content
  .search-room
    .container
      .search-room__content
        .search-room__content__filter
          +filterPanel()
        .search-room__content__room-list
          +roomList(roomItems)
