@import "../../styles/colors.scss";

.footer__content {
  display: flex;
  margin-top: 100px;
  cursor: default;
}

footer.footer {
  border-top: 1px solid $color_Dark_Shade_25;
  border-bottom: 1px solid $color_Dark_Shade_25;
}

.footer__content__item {
  width: 20%;
  margin-right: 40px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none; /* Убираем маркеры */
  padding-top: 20px;
}

.footer__copyright {
  margin-top: 100px;
}
