mixin toggle(title="", isChecked = false)
  .toggle
    label.toggle__switch
      if (isChecked)
        input(type="checkbox" checked)
      else
        input(type="checkbox")
      span.toggle__slider.toggle__slider_round
    label.toggle__title=title