

block variables

doctype html
html(lang="en")
  head
    title #{title}
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Quicksand:700&display=swap" rel="stylesheet")
  body(class=pageClass)
    .wrapper
      include ../includes/modules/header
      .content-wrapper
        block content
      include ../includes/modules/footer

