
include ./components/primitive-components/text-field/text-field
include ./components/primitive-components/dropdown/dropdown
include ./components/primitive-components/checkbox-list/checkbox-list
include ./components/primitive-components/button/button
include ./components/primitive-components/rate-button/rate-button
include ./components/primitive-components/bullet-list/bullet-list
include ./components/header/header

-let checkBoxListValues = [
-{title:"Можно курить", checked:false},
-{title:"Можно с питомцами", checked:false},
-{title:"Можно пригласить гостей (до 10 человек)", checked:false}
-];

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Пример страницы
    link(rel="stylesheet" type="text/css" href="main.css")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet")
    

  body
    //+header()
    +rateButton(4)
    +bulletList()
    +button("Я просто кнопка", "labelButton","#")
    +button("Я обычная кнопка", "borerButton","#")
    +button("Я закрашенная кнопка", "fillButton","#")
    +button("А я кнопка со стрелочкой", "arrowButton","#")

    br
    +textField("Email","Email")
    +dropdown("Dropdown",1,2,3)
    +checkBoxList("CheckboxButtons", checkBoxListValues, false)
    +checkBoxList("CheckboxButtonsExp", checkBoxListValues, true)
    


