
include ./components/primitive-components/text-field/text-field
include ./components/primitive-components/dropdown/dropdown
include ./components/primitive-components/checkbox-list/checkbox-list

-let checkBoxListValues = [
-{title:"Можно курить", checked:false},
-{title:"Можно с питомцами", checked:false},
-{title:"Можно пригласить гостей (до 10 человек)", checked:false}
-];

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Пример страницы
    link(rel="stylesheet" type="text/css" href="main.css")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet")
    

  body
    +textField("Email","Email")
    +dropdown("Dropdown",1,2,3)
    +checkBoxList("CheckboxButtons", checkBoxListValues, false)
    +checkBoxList("CheckboxButtonsExp", checkBoxListValues, true)
    


