@import "./assets/scss/utils/libs";
@import "./assets/scss/utils/vars";
@import "./assets/scss/utils/mixins";
@import "./assets/scss/utils/fonts";
@import "./assets/scss/utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $color_Dark_Shade_75;

  &.grey_body {
    background-color: #e5e5e5;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $color_Dark_Shade_100;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: $color_Dark_Shade_50;
}

section,
.section {
  position: relative;
  padding: 0px 0;
  // @media screen and (max-width: $desktopWidth) {
  //   padding: 36px 0;
  // }
  // @media screen and (max-width: $desktopWidth) {
  //   padding: 28px 0;
  // }
  // @media screen and (max-width: $desktopWidth) {
  //   padding: 20px 0;
  // }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  // display: flex;
  // flex-direction: column;
  // min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  padding: 0px 100px;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: smPhoneWidth;
  }
}

.base-cards {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 380px;
  background: #ffffff;
  padding: 40px 30px 30px;
}

//Packages
@import "../node_modules/air-datepicker/dist/css/datepicker.min.css";

//Modules
// @import "./modules/header/header.scss";
// @import "./modules/footer/footer.scss";

@import "./blocks/building-blocks/header/header.scss";
@import "./blocks/building-blocks/footer/footer.scss";
@import "./blocks/building-blocks/footer-company-info/footer-company-info.scss";

@import "./blocks/primitive-blocks/btn/btn.scss";
@import "./blocks/primitive-blocks/checkbox-item/checkbox-item.scss";
@import "./blocks/primitive-blocks/checkbox-list/checkbox-list.scss";
@import "./blocks/primitive-blocks/dropdown/dropdown.scss";
@import "./blocks/primitive-blocks/rate-button/rate-button.scss";
@import "./blocks/primitive-blocks/text-field/text-field.scss";
@import "./blocks/primitive-blocks/radio-buttons/radio-buttons.scss";
@import "./blocks/primitive-blocks/bullet-list/bullet-list.scss";
@import "./blocks/primitive-blocks/range-slider/range-slider.scss";
@import "./blocks/primitive-blocks/pagination/pagination.scss";
@import "./blocks/primitive-blocks/img-slider/img-slider.scss";
@import "./blocks/primitive-blocks/datepicker/datepicker.scss";
@import "./blocks/primitive-blocks/toggle/toggle.scss";
@import "./blocks/primitive-blocks/like-button/like-button.scss";
@import "./blocks/primitive-blocks/checkbox-list-rich/checkbox-list-rich.scss";

@import "./blocks/building-blocks/intro-search-panel/intro-search-panel.scss";
@import "./blocks/building-blocks/registration-panel/registration-panel.scss";
@import "./blocks/building-blocks/book-room-panel/book-room-panel.scss";
@import "./blocks/building-blocks/authorization-panel/authorization-panel.scss";
@import "./blocks/building-blocks/room-item/room-item.scss";
@import "./blocks/building-blocks/filter-panel/filter-panel.scss";
@import "./blocks/building-blocks/room-list/room-list.scss";

@import "./blocks/primitive-blocks/buttons/buttons.scss";
@import "./blocks/primitive-blocks/social-section/social-section.scss";

//UI kit
@import "./blocks/primitive-blocks/colors/colors.scss";
@import "./blocks/primitive-blocks/headers/headers.scss";

//Pages
@import "./pages/colors_type.scss";
@import "./pages/pages-scss/form-elements/form-elements.scss";
@import "./pages/pages-scss/cards/cards.scss";
@import "./pages/pages-scss/headers-and-footers/headers-and-footers.scss";
@import "./pages/pages-scss/landing/landing.scss";
@import "./pages/pages-scss/search-room/search-room.scss";
