@import "./assets/scss/utils/libs";
@import "./assets/scss/utils/vars";
@import "./assets/scss/utils/mixins";
@import "./assets/scss/utils/fonts";
@import "./assets/scss/utils/reset";


//Packages
@import "../node_modules/air-datepicker/dist/css/datepicker.min.css";

//Modules
@import "./modules/header/header.scss";
@import "./modules/footer/footer.scss";
@import "./modules/registration-panel/registration-panel.scss";
@import "./modules/intro-search-panel/intro-search-panel.scss";
@import "./modules/primitive-modules/button/button.scss";
@import "./modules/primitive-modules/checkbox-item/checkbox-item.scss";
@import "./modules/primitive-modules/checkbox-list/checkbox-list.scss";
@import "./modules/primitive-modules/datepicker/datepicker.scss";
@import "./modules/primitive-modules/dropdown/dropdown.scss";
@import "./modules/primitive-modules/rate-button/rate-button.scss";
@import "./modules/primitive-modules/text-field/text-field.scss";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: $color_Dark_Shade_50;
}

section,
.section {
  position: relative;
  padding: 0px 0;
  // @media screen and (max-width: $desktopWidth) {
  //   padding: 36px 0;
  // }
  // @media screen and (max-width: $desktopWidth) {
  //   padding: 28px 0;
  // }
  // @media screen and (max-width: $desktopWidth) {
  //   padding: 20px 0;
  // }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  // display: flex;
  // flex-direction: column;
  // min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  padding: 0px 100px;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: smPhoneWidth;
  }
}
