//
//  Global SCSS
//
@import "../../theme/global.scss";

//
//  Packages
//
@import "../../../node_modules/air-datepicker/dist/css/datepicker.min.css";

//
//  Import components SCSS
//
@import "../../blocks/intro-search-panel/intro-search-panel.scss";
@import "../../blocks/registration-panel/registration-panel.scss";
@import "../../blocks/book-room-panel/book-room-panel.scss";
@import "../../blocks/authorization-panel/authorization-panel.scss";
@import "../../blocks//img-slider/img-slider.scss";
@import "../../blocks/room-item/room-item";
@import "../../blocks/datepicker/datepicker.scss";

.cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 380px)) minmax(320px, 320px);
  grid-auto-columns: min-content;
  grid-column-gap: 40px;

}

//
//  Block-elements
//
@import "./__column/cards__column.scss";
