include ../../primitive-blocks/text-field/text-field
include ../../primitive-blocks/social-section/social-section

mixin footer()
  footer.footer
    .container
      .footer__content
        .footer__content__column
          .footer__content__column__logo
            img(src="../../../assets/img/logo.svg")
          span Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
        .footer__content__column
          h3 Navigation
          ul
            li
              a.footer__content__column__item_link(href="#") About Us
              a.footer__content__column__item_link(href="#") News
              a.footer__content__column__item_link(href="#") Support
              a.footer__content__column__item_link(href="#") Products
        .footer__content__column
          h3 ABOUT US
          ul
            li
              a.footer__content__column__item_link(href="#") Who we are
              a.footer__content__column__item_link(href="#") Our team
              a.footer__content__column__item_link(href="#") Careers
              a.footer__content__column__item_link(href="#") Investors
        .footer__content__column
          h3 Support
          ul
            li
              a.footer__content__column__item_link(href="#") Documentation
              a.footer__content__column__item_link(href="#") Community
              a.footer__content__column__item_link(href="#") Get in Touch

        .footer__content__column
          h3 Subscribe to our newsletter
          span.footer__content__column__item="Receive our latest news and promotions in your inbox!" 
          .footer__content__column__item
            +textField([],"Your email address","subscription")
    .container
      .footer__copyright
        .footer__copyright__item
          span Copyright © 2018 Toxin UI Kit. All rights reserved.
        .footer__copyright__item
          +socialSection()
