.header__content__navigation__profile {
  border-left: 1px solid $color_Dark_Shade_5;
  margin-top: 4px;
  height: 30px;
  & a {
    padding-left: 30px;
    color: $color_Dark_Shade_50;
    white-space: nowrap;

    &:hover {
      color: $color_Dark_Shade_75;
    }
  }
}
