.text-field_subscription {
  border: none;
  width: 100%;
  max-width: 240px;
  padding-right: 0px;
  &:hover {
    border: none;
  }

  &:hover .textField__subscription {
    border: 1px solid red;
  }

  &:focus {
    border: none;
  }
}
