mixin pagination(pageNumber = 1, count = 175, itemsOnPage=12, visiblePages = 3)
  -
    var labelFirstItem = (pageNumber-1)*itemsOnPage+1;
    var labelLastItem = labelFirstItem+itemsOnPage-1;
    var labelCountItems = count>100 ? "100+" : count.toString();
    var label = labelFirstItem + " - " + labelLastItem + " из "+ labelCountItems + " вариантов аренды" ;
    var pageQuantity = Math.ceil(count/itemsOnPage);
    var elements = [];

    for(let i = 0; i<visiblePages;i++)
      {
        if(pageNumber==1)
        {
          elements.push((i+1).toString());
        }
        else{
          elements.push((pageNumber+(i-1)).toString())
        }
      }

  .pagination
    .pagination__nav
      -for(let i=0;i<elements.length;i++)
        if(elements[i] == pageNumber)
          .pagination__nav__item_selected=elements[i]
        else
          .pagination__nav__item=elements[i]
      if (elements[2]*1+1!=pageQuantity && elements[2]*1!=pageQuantity)
        .pagination__nav__item ...
      if (elements[2]*1!=pageQuantity)
        .pagination__nav__item=pageQuantity
      .pagination__nav__next-button
    .pagination__label=label
      

    //-   -for(let i=1; i<=pageCount;i++)
    //-     if (i<=visiblePages)
    //-       if(i==pageNumber)
    //-         .pagination__nav__item_selected=i
              
    //-       else
    //-         .pagination__nav__item=i
    //-     if (i==visiblePages+1)
    //-         .pagination__nav__item ...
    //-     if (i==pageCount)
    //-       .pagination__nav__item=i
    //-   .pagination__nav__next-button
    //- .pagination__label=label

